.nano-expansion {
	width: 100%;
	max-height: auto;
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(55, 84, 170, 0.2);
	border-radius: 5px;
	overflow: hidden;
	will-change: max-height;
	transition: max-height .2s ease 0s;
}
.nano-expansion-wrapper {
	width: 100%;
}
.nano-expansion-wrapper > .nano-expansion {
	margin-bottom: 10px;
}
.nano-expansion-wrapper > .nano-expansion:last-child {
	margin-bottom: 0;
}
.nano-expansion-toggle {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	padding: 18px;
	/*display: flex;
	align-items: center;
	justify-content: flex-start;*/
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	transition: all .2s ease 0s;
	background:#f9f9f9;
	font-size:17px;
}
.nano-expansion-toggle ins{
	color:#2055f1;	
	font-weight:600;
	padding-right:10px;
}
.nano-expansion-toggle::after {
	position:absolute;
	right:18px;
	top:45%;
	content: "";
	width: 8px;
	height: 8px;
	border: solid currentColor;
	border-width: 0 .14em .14em 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	transition: inherit;
}
.nano-expansion-toggle.active::after {
	-webkit-transform: rotate(225deg);
	transform: rotate(225deg);
}
.nano-expansion-content {
	box-sizing: border-box;
	width: 100%;
	background: #454545;
	padding:17px 20px;
}
.nano-expansion-content span{
	font-size:15px;
	line-height:24px;
	color:#fff;
}

@media only screen and (max-width: 991px) {
.nano-expansion-toggle {	
	padding: 14px 18px;	
	min-height:58px;
}
}
