@media screen and (min-width: 1200px) and (max-width: 1680px) {
.top-header {
	padding: 10px 0 5px;
}
.top-header nav.navbar {
	padding: .4rem .25rem 0;
}
.top-header .navbar-expand-md .navbar-nav .nav-item {
	padding: 0px 5px;
}
header .dropdown-item:focus, 
header .dropdown-item{
	font-size:15px;	
}
header .dropdown-item {
	padding: .3rem .5rem;
	font-size:13px;
}
.top-header .navbar-expand-md .navbar-nav .nav-item .nav-link{
	font-size:15px;	
}
.navbar-expand-md .navbar-nav .nav-link {
	padding-right: .5rem;
	padding-left: .5rem;
}
.banner-sec .slider .slider-inr-lft {
	top: 20%;
	left: 10%;
	width: 50%;
}
.banner-sec .slider .slider-inr-lft h5{
	font-size:22px;	
}
.banner-sec .slider .slider-inr-lft h1{
	font-size:52px;	
}
.banner-sec .slider .slider-inr-lft h1 span {
	font-size:88px;
	line-height:64px;	
}
.banner-sec .slider .slider-inr-lft button.free-quote-but {
	margin-top: 35px;
	font-size: 22px;
	padding: 22px 30px;
}
.banner-sec .slider .slider-inr-rgt {
	top: 10%;
	right: -10.5%;
	width: 57.5%;
}
.banner-sec .slider .slider-inr-rgt img{
	width:65%;
}
/*----owl-carousel css edit slider----*/
.banner-sec .owl-theme .owl-dots .owl-dot span {
	width: 70px;
	height:8px;
	border-radius:0;
}
.banner-sec .owl-theme .owl-nav.disabled + .owl-dots {
	margin-top: 30px;
}
/*----/owl-carousel css edit slide----*/
.bx-wrapper .bx-pager {
	bottom: -12.5%;
}
.banner-sec .floating-menu {
	right: -90px;
	top: 25%;
}
.banner-sec .floating-menu a {
	padding: 15px 30px 25px 30px;
	font-size: 18px;
}

/*--skill develipment page--*/
.skill-develop-sec .skill-develop-sec-hd {
	left: 15%;
}
.skill-develop-sec .skill-develop-sec-hd {
	top: 30%;
}
.skill-develop-sec .skill-develop-sec-hd h1 {
	font-size: 42px;
	line-height:50px;
	font-weight:700;
}
/*--latest tool--*/
.latest-tool-pannal .contact-section,
.latest-tool-pannal .recent-post-div {
	padding: 25px 25px;
}
.skill-develop-sec .skill-develop-sec-hd-md {
	top: 20%;
}
.skill-develop-sec .skill-develop-sec-hd-md h3 {
	font-size: 17px;
	line-height: 28px;
	padding: 15px 0 15px;
	width: 55%;
}
/*--/latest tool--*/

/*--workshop page--*/
.workshop-hldr .workshop-hldr-hd {
	top: 25%;
}
.workshop-hldr .workshop-hldr-hd .workshop-txt-div h3 {
	width: 45%;
	padding: 10px 0 15px;
	font-size: 20px;
	line-height: 28px;
}
/*--/workshop page--*/

}
@media screen and (min-width: 992px) and (max-width: 1199px) {
.top-header .menu-hldr{
	padding:0 20px 0;	
}
.top-header .navbar-expand-md .navbar-nav .nav-item{
	padding:0 5px;	
}
.top-header .navbar-expand-md .navbar-nav .nav-item .nav-link{
	font-size:14px !important;	
}
header .dropdown-item:focus, header .dropdown-item{
	font-size:13px;	
}
.banner-sec .slider .slider-inr-lft {
	top: 15%;
	width: 45%;
}
.banner-sec .slider .slider-inr-lft h5{
	font-size:15px;	
	line-height:24px;
}
.banner-sec .slider .slider-inr-lft h1{
	font-size:36px;	
	line-height: 56px;
}
.banner-sec .slider .slider-inr-lft h1 span {
	display: block;
	font-size: 60px;
	line-height: 44px;
}
.banner-sec .slider .slider-inr-rgt {
	top: 35px;
	right: 60px;
	width: 42.5%;
}
.banner-sec .slider .slider-inr-lft button.free-quote-but {
	padding: 16px 26px;
	font-size: 18px;
}
/*----owl-carousel css edit slider----*/
.banner-sec .owl-theme .owl-dots .owl-dot span {
	width: 70px;
	height:8px;
	border-radius:0;
}
.banner-sec .owl-theme .owl-nav.disabled + .owl-dots {
	margin-top: 30px;
}
/*----/owl-carousel css edit slide----*/
.cyber-sequrity-sec {
	padding: 70px 0 50px;
}
.bx-wrapper .bx-pager {
	bottom: -13.5%;
}
.banner-sec .floating-menu {
	right: -90px;
	top: 22.5%;
}
.banner-sec .floating-menu a {
	padding: 15px 30px 25px 30px;
	font-size: 17px;
}
.cyber-sequrity-sec-hd h2{
	font-size:36px;	
}
.cyber-sequrity-sec .cyber-sec-course-hldr .course-box .course-box-inr {
	top: 60%;
}
.cyber-sequrity-sec .cyber-sec-course-hldr .course-box .course-box-inr h3 {
	font-size: 22px;
	line-height: 28px;
	font-weight: 500;
}
.cyber-sequrity-sec {
	padding: 45px 0 25px;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml h3 {
	font-size: 19px;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml {
	padding: 24px 0;
}
.our-service-sec {
	padding: 50px 0 25px;
}
.our-service-sec .our-service-sec-inr .service-box h3 {
	font-size: 22px;
	line-height: 32px;
}
.why-choose-section {
	padding: 60px 0 60px;
}
.pan-india-cen-sec .pan-india-cen-sec-inr .add-section {
	padding: 0 0 40px;
}
.pan-india-cen-sec {
	padding: 60px 0 50px;
}
.testimonial-pannal .testimonial-pannal-inr .testimonial-box {
	padding: 30px 30px 5px;
}
.cert-pannal {
	padding: 50px 0;
}
.cert-pannal .cert-hldr .listing-cert li {
	margin: 0 10px;
}
.cert-pannal .cert-hldr .listing-cert li img {
	width: 130px;
	height: 130px;
	padding: 5px;
}
.cert-pannal .cert-hldr h3 {
	font-size: 26px;
	line-height: 32px;
}
.cert-pannal .cert-hldr .listing-cert {
	padding: 15px 0;
}
.ft-top .newslatter-div {
	padding-left: 20px;
}
.ft-top .chat-icon {
	top: 82%;
	left: 92%;
}
.ft-bot{
	padding: 15px 0;
}

/*--skill develipment page--*/
.skill-dev-pan .skill-develop-sec-inr {
	padding: 40px 0 35px;
}
.skill-develop-sec .skill-develop-sec-hd {
	left: 15%;
}
.skill-develop-sec .skill-develop-sec-hd {
	top: 30%;
}
.skill-develop-sec .skill-develop-sec-hd h1 {
	font-size: 34px;
	line-height:42px;
	font-weight:700;
}
.skill-dev-pan .skill-develop-sec-inr h1 {
	font-size: 36px;
	line-height: 42px;
}
/*--latest tool--*/
.latest-tool-pannal .contact-section,
.latest-tool-pannal .recent-post-div {
	padding: 25px 25px;
}
.skill-develop-sec .skill-develop-sec-hd-md {
	top: 20%;
}
.skill-develop-sec .skill-develop-sec-hd-md h3 {
	font-size: 15px;
	line-height: 22px;
	padding: 5px 0 15px;
	width: 58%;
}
/*--/latest tool--*/


/*--workshop page--*/
.workshop-bd-hldr .workshop-bd-hldr-inr h4 {
	padding: 5px 50px;
}
.workshop-hldr .workshop-hldr-hd {
	top: 25%;
}
.workshop-hldr .workshop-hldr-hd .workshop-txt-div h3 {
	width: 50%;
	padding: 10px 0 15px;
	font-size: 18px;
	line-height: 24px;
}
/*--/workshop page--*/

/*--bug bounty program page--*/
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(1) .nano-expansion-toggle,
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(2) .nano-expansion-toggle,
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(6) .nano-expansion-toggle{
	display:flex;
	justify-content: flex-start;	
}
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(1) .nano-expansion-toggle ins,
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(2) .nano-expansion-toggle ins {
	width: 13%;
}
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(6) .nano-expansion-toggle ins{
	width: 22.5%;	
}
/*--/bug bounty program page--*/

/*--contact us page--*/
.contact-sec {
	padding: 60px 0;
}
.contact-sec .contact-hd h2 {
	font-size: 32px;
	line-height: 42px;
}
.contact-sec .contact-left-area h3 {
	padding: 0 0 20px;
	margin: 0 0 20px;
}
.contact-sec .contact-form h3 {
	font-size: 24px;
	line-height: 32px;
}
.contact-sec .contact-left-area .con-div {
	padding: 15px 0 5px;
}
.contact-sec .contact-left-area .con-div p a{
	display:block;
	padding-bottom:3px;
}
.contact-sec .contact-left-area .con-div p i{
	display:none;
}
/*--/contact us page--*/
}

@media screen and (min-width: 768px) and (max-width: 991px) {
.top-header{
	padding-top:10px;	
}
.top-header .menu-hldr{
	padding:0 15px 0 0;	
}
.top-header .logo-hldr {
	padding: 0 0 0 15px;
}
.top-header .cont-listing li a {
	font-size: 13px;
}
/*.top-header nav.navbar {
	padding: .25rem .25rem 0;
}*/
.top-header .navbar-expand-md .navbar-nav .nav-item {
	padding: 0px 4px;
}
.top-header .navbar-expand-md .navbar-nav .nav-item .nav-link {	
	padding:3px .15rem !important;
	font-size:12px !important;
}
.navbar-nav .dropdown-menu{
	font-size:10px;
}
.navbar-expand-md .navbar-nav .nav-link{
	font-size:13px;	
}
header .dropdown-item {	
	font-size: 11.5px;
	padding:.25rem .5rem;
}
/*----owl-carousel css edit slider----*/
.banner-sec .owl-theme .owl-dots .owl-dot span {
	width: 65px;
	height:7px;
	border-radius:0;
}
.banner-sec .owl-theme .owl-nav.disabled + .owl-dots {
	margin-top: 30px;
}
/*----/owl-carousel css edit slide----*/
.banner-sec .floating-menu {
	right: -80px;
	top: 22.5%;
}
.banner-sec .floating-menu a {
	padding: 10px 25px 15px 25px;
	font-size: 16px;
}
.banner-sec .slider .slider-inr-rgt {
	right: 4%;
	width: 40%;
	top: 6%;
}
.banner-sec .slider .slider-inr-lft {
	left: 5%;
	top:10%;
	width: 60%;
}
.banner-sec .slider .slider-inr-lft h5 {
	font-size: 14px;
	line-height: 22px;
	padding: 0 0 10px;
}
.banner-sec .slider .slider-inr-lft h1 {
	font-size: 36px;
	line-height: 42px;
}
.banner-sec .slider .slider-inr-lft h1 span {
	font-size: 52px;
	line-height: 52px;
}
.banner-sec .slider .slider-inr-lft button.free-quote-but {
	padding: 10px 40px;
	font-size: 15px;
	margin-top: 15px;
}
.banner-sec .slider .slider-inr-lft h5 {
	font-size: 15px;
	line-height: 26px;
}
.banner-sec .slider .slider-inr-lft button.free-quote-but {
	padding: 15px 25px;
	font-size: 20px;
	margin-top: 15px;
}
.cyber-sequrity-sec {
	padding: 50px 0;
}
.cyber-sequrity-sec .cyber-sec-course-hldr .course-box .course-box-inr {
	top: 40%;
	min-height: 90px;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml {
	padding: 15px 0;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml span {
	font-size: 56px;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml span.sign {
	top: 0px;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml h3 {
	font-size: 18px;
	font-weight: 600;
	min-height: 44px;
}
.cyber-sec-sec .cyber-sec-hldr-inr {
	padding: 35px 0 30px;
}
.cyber-sec-sec{
	padding: 0 0 20px 0;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-big {
	padding: 10px;
}
.cyber-sequrity-sec .cyber-sec-course-hldr .course-box .course-box-inr h3 {
	font-size: 20px;
	line-height: 26px;
	font-weight: 500;
}
.our-service-sec {
	padding: 65px 0 5px;
}
.our-service-sec .our-service-sec-inr .service-box h3 {
	font-size: 24px;
	line-height:32px;
}
.why-choose-section .why-choose-sec-hd h2 {
	font-size: 36px;
	line-height: 52px;
}
.pan-india-cen-sec .pan-india-cen-sec-hd h2 {
	font-size: 36px;
	line-height: 42px;
}
.pan-india-cen-sec {
	padding: 50px 0;
}
.testimonial-pannal .testimonial-pannal-hd h2{
	font-size:36px;	
}
.testimonial-pannal .testimonial-pannal-hd {
	padding: 0 0 20px;
}
.testimonial-pannal {
	padding: 50px 0;
}
.testimonial-pannal .testimonial-pannal-inr .testimonial-box{
	margin-top:30px;	
}
.testimonial-pannal .testimonial-pannal-inr .owl-theme .owl-nav {
	top: 155px;
}
.testimonial-pannal .testimonial-pannal-inr .testimonial-box h3,
.testimonial-pannal .testimonial-pannal-inr .video-box h3 {
	font-size: 28px;
}
.cert-pannal {
	padding: 40px 0 40px;
}
.cert-pannal .cert-hldr .listing-cert li img {
	width: 96px;
	height: 96px;
	padding: 5px;
}
.cert-pannal .cert-hldr .listing-cert li {
	margin: 0 10px;
}
.cert-pannal .cert-hldr h3 {
	font-size: 22px;
	line-height: 28px;
}
.cert-pannal .cert-hldr .listing-cert {
	padding: 15px 0;
}
.ft-top .newslatter-div {
	padding-left: 0;
}
.ft-top .ft-list-hldr h3 {
	font-size: 18px;
	line-height: 26px;
}
.ft-top .ft-link-listing li a {
	font-size: 14px;
}
.ft-top .chat-icon {
	left: 88%;
	top: 80%;
}
.ft-bot .copyright-pan-lft p {
	font-size: 15px;
	line-height: 24px;
}

/*--skill develipment page--*/
.skill-develop-sec .skill-develop-sec-hd h1 {
	font-size: 28px;
	line-height:34px;
	font-weight:700;
}
.skill-develop-sec .skill-develop-sec-hd h4 {
	font-size: 18px;
	line-height:24px;
	padding-top:5px;
	padding-bottom:0;
}
.skill-dev-pan .skill-develop-sec-inr h1 {
	font-size: 28px;
	line-height: 36px;
}
.skill-dev-pan .skill-develop-sec-inr {
	padding: 40px 0 35px;
}
.skill-dev-pan .skl-development-lft-part{
	padding-bottom:20px;	
}
.skill-dev-pan .skill-develop-hldr {
	margin: 10px 0;
}
.skill-dev-pan .skill-develop-hldr .skill-develop-inr-rgt img{
	width:100%;
}
.skill-dev-pan .placement-hldr .placement-sec-rgt {
	padding:20px 0 0;
}
.skill-dev-pan .placement-hldr .placement-sec-rgt p {
	padding: 0 0 20px;
}
.skill-dev-pan .post-placement-ass-hldr {
	padding:20px 0 0;
}

.skill-dev-pan .skill-develop-hldr .skill-develop-inr .skill-develop-inr-lft p,
.skill-dev-pan .cur-ind-dem-hldr p {
	font-size: 15px;
}
.skill-dev-pan .skill-develop-hldr .skill-develop-inr .skill-develop-inr-lft .skill-listing li {
	font-size: 13px;
}
.skill-dev-pan .int-met-sec h6,
.skill-dev-pan .int-met-sec .para-hldr .para-hldr-rgt p,
.skill-dev-pan .advan-sec .col-lg-6 .adv-listing li,
.skill-dev-pan .advan-sec .col-lg-6 .adv-listing-rgt li{
	font-size:15px;	
}

/*--latest tool--*/
.latest-tool-pannal {
	padding: 50px 0;
}
.latest-tool-pannal .screen-desc-hldr ul.screen-listing li {
	padding-right: 40px;
}
.skill-develop-sec .skill-develop-sec-hd-md{
	top:10% !important;	
}
.skill-develop-sec .skill-develop-sec-hd-md h3 {
	font-size: 14px;
	line-height: 22px;
	padding: 3px 0 15px;
	width: 57.5%;
}
/*--/latest tool--*/

/*--workshop page--*/
.workshop-hldr .workshop-hldr-hd .workshop-txt-div h3 {
	width: 50%;
	padding: 5px 0 15px;
	font-size: 15px;
	line-height: 19px;
}
.workshop-bd-hldr .workshop-bd-hldr-inr h4 {
	font-size: 16px;
}
.workshop-bd-hldr .workshop-bd-hldr-inr .topic-hldr .select-box .form-group select.form-control {
	min-height: 44px;
}
.workshop-bd-hldr .workshop-bd-hldr-inr .topic-hldr .recent-text p {
	font-size: 15px;
}
.workshop-bd-hldr .workshop-bd-hldr-inr p {
	font-size: 16px;
	line-height:24px;
}

.workshop-bd-hldr #listPage li .video-box h3 {
	font-size: 17px;
	line-height: 24px;
}
/*--/workshop page--*/


/*--bug bounty program page--*/
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(1) .nano-expansion-toggle,
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(2) .nano-expansion-toggle,
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(6) .nano-expansion-toggle{
	display:flex;
	justify-content: flex-start;	
}
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(1) .nano-expansion-toggle ins,
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(2) .nano-expansion-toggle ins {
	width: 13%;
}
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(6) .nano-expansion-toggle ins{
	width: 22.5%;	
}
/*--/bug bounty program page--*/

/*--contact us page--*/
.contact-sec{
	padding:30px 0;	
}
.contact-sec .contact-hd h2 {
	font-size: 26px;
	line-height: 34px;
	padding:0 0 15px;
}
.contact-sec .contact-hd {
	padding: 0 0 40px;
}
.contact-sec .contact-hd span {
	font-size: 15px;
	line-height: 22px;
}
.contact-sec .contact-left-area {
	margin-bottom:15px;
}
.contact-sec .contact-left-area .con-div {
	padding: 15px 0 0;
}
.contact-sec .contact-left-area h3,
.contact-sec .contact-form h3 {
	padding-bottom:18px;
}
.contact-sec .contact-left-area h3:before,
.contact-sec .contact-form h3:before{
	height: 4px;
}
/*--/contact us page--*/

/*--blog page--*/
.blog-mn-section .blog-hldr-pg-det .blog-hldr-hd {
	padding:1.5em 0 .25em;
}
.blog-mn-section .blog-hldr-pg-det .blog-hldr-hd h1 {
	font-size:46px;
	line-height: 52px;
}
.blog-mn-section .blog-hldr-pg-det .blog-wrapper .blog-img-div .blog-wrapper-listing {
	padding: 20px 0 0;
}
.blog-mn-section .blog-hldr-pg-det {
	margin-bottom: 3em;
}
/*--/blog page--*/
}

@media screen and (min-width: 586px) and (max-width: 767px) {
.top-header{
	padding-top:5px;	
}
.top-header .logo-hldr{
	justify-content:center;	
	padding-left:0;
}
.top-header .logo-hldr a img{
	display:block;
	margin:0 auto;	
}
.top-header .menu-hldr{
	padding:0;
}
.top-header .cont-listing{
	text-align:center;	
	padding:10px 0;
}
.top-header .cont-listing li{
	padding:0 12.5px;	
}
.top-header nav.navbar{
	text-align:center;	
}
.top-header .logo-hldr-mob{
	
}
.top-header .navbar-expand-sm .navbar-nav {
	padding-top: 0;
}
.top-header .logo-hldr-mob a img{
	width:200px;
}
.navbar-light .navbar-toggler{
	padding:.2rem .5rem;	
}
.navbar-nav .dropdown-menu{
	font-size:12px;
}
header .dropdown-item{
	font-size:12.5px;	
}
.top-header .navbar-toggler{
	background: #ff8a00;
}
.top-header .navbar-expand-md .navbar-nav .nav-item .nav-link{
	font-size:13px;	
	padding-left:5px;
	padding-right:5px
}
.top-header .navbar-expand-md .navbar-nav .nav-item {
	padding: 0px 5px;
}
.top-header nav.navbar{
	text-align:center;
	justify-content: space-between;
	padding-bottom:5px;
	padding:0 15px;
}
/*----owl-carousel css edit slider----*/
.banner-sec .owl-theme .owl-dots .owl-dot span {
	width: 60px;
	height:6px;
	border-radius:0;
}
.banner-sec .owl-theme .owl-nav.disabled + .owl-dots {
	margin-top: 25px;
}
/*----/owl-carousel css edit slide----*/
.banner-sec .floating-menu {
	right: -80px;
	top: 28%;
}
.banner-sec .floating-menu a {
	padding: 10px 25px 15px 25px;
	font-size: 16px;
}
.banner-sec .slider .slider-inr-rgt {
	right: 2.5%;
	width:37%;
}
.banner-sec .slider .slider-inr-lft {
	left: 5%;
	top:10%;
	width: 63%;
}
.banner-sec .slider .slider-inr-lft h5 {
	font-size: 14px;
	line-height: 22px;
	padding: 0 0 10px;
}
.banner-sec .slider .slider-inr-lft h1 {
	font-size: 32px;
	line-height: 40px;
}
.banner-sec .slider .slider-inr-lft h1 span {
	font-size: 40px;
	line-height: 48px;
}
.banner-sec .slider .slider-inr-lft button.free-quote-but {
	padding: 6px 25px;
	font-size: 13px;
	margin-top: 10px;
}
.cyber-sequrity-sec-hd h2 {
	font-size: 32px;
	line-height: 40px;
}
.cyber-sequrity-sec {
	padding: 40px 0 15px;
}
.cyber-sequrity-sec .cyber-sec-course-hldr .course-box img{
	width:100%;
}
.cyber-sequrity-sec .cyber-sec-course-hldr .course-box .course-box-inr h3 {
	font-size: 18px;
	line-height: 22px;
	font-weight: 600;
}
.cyber-sequrity-sec .cyber-sec-course-hldr .course-box .course-box-inr{
	top:35%;
}
.cyber-sec-sec{
	padding:0;	
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml {
	padding: 35px 0;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml span {
	font-size: 72px;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml h3{
	font-size:22px;	
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml span.sign {
	top: -5px;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-hldr-hd h2 {
	font-size: 32px;
	line-height: 42px;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-big {
	margin-bottom:30px;
}
.cyber-sequrity-sec .cyber-sec-course-hldr .course-box {
	margin-bottom: 25px;
}
.our-service-sec {
	padding: 75px 0 5px;
}
.our-service-sec .our-service-sec-hd h2{
	font-size:32px;	
}
.our-service-sec .our-service-sec-inr{
	padding:30px 0 0;	
}
.our-service-sec .our-service-sec-inr .service-box{
	padding:0 0 30px;	
}
.our-service-sec .our-service-sec-inr .service-box h3{
	font-size:24px;	
}
.why-choose-section {
	background:url(../images/why-choose-ban.jpg) no-repeat center center;
	background-size:cover;
}
.why-choose-section .why-choose-sec-hd h2 {
	font-size: 32px;
	line-height: 42px;
}
.pan-india-cen-sec .pan-india-cen-sec-hd h2 {
	font-size: 36px;
	line-height: 46px;
}
.pan-india-cen-sec {
	padding: 60px 0 50px;
}
.pan-india-cen-sec .pan-india-cen-sec-inr .add-section {
	padding: 0 0 25px;
}
.pan-india-cen-sec .pan-india-cen-sec-inr .location-div img{
	padding-bottom:0;
}
.testimonial-pannal {
	background: url(../images/testimonial-bg.jpg) no-repeat center center;
	background-size: cover;
	padding: 40px 0;
}
.testimonial-pannal .testimonial-pannal-hd h2{
	font-size:36px;	
}
.testimonial-pannal .testimonial-pannal-inr .testimonial-box{
	margin-top:30px;	
}
.testimonial-pannal .testimonial-pannal-inr .owl-theme .owl-nav {
	top: 165px;
}
.cert-pannal .cert-hldr .listing-cert li:first-child{
	margin-left:auto;	
}
.cert-pannal .cert-hldr .listing-cert li {
	margin: 0 10px;
}
.cert-pannal .cert-hldr .listing-cert li img {
	width: 138px;
	height: 138px;
}
.cert-pannal .cert-hldr .listing-cert {
	padding: 25px 0;
	text-align: center;
}
.cert-pannal .cert-hldr h3 {
	text-align: center;
}
.ft-top{
	padding:60px 0;	
}
.ft-top .newslatter-div {
	padding-left: 0;
}
.ft-bot .copyright-pan-lft p {
	font-size: 14px;
	line-height: 24px;
	padding-bottom:20px;
	text-align:center;
}
.ft-top .ft-link-listing{
	padding-bottom:25px;	
}
.ft-top .chat-icon {
	left: 88%;
	top: 90%;
}


/*--skill develipment page--*/
.skill-develop-sec .skill-develop-sec-hd {
	top: 20%;
}
.skill-develop-sec .skill-develop-sec-hd h1{
	font-size:20px;
	line-height:26px;
	font-weight:600;
}
.skill-develop-sec .skill-develop-sec-hd h1 {
	font-size: 26px;
	line-height:32px;
}
.skill-develop-sec .skill-develop-sec-hd h4 {
	font-size: 18px;
	line-height:24px;
	padding-top:5px;
}
.skill-dev-pan .skill-develop-sec-inr h1 {
	font-size: 28px;
	line-height: 38px;
}
.skill-dev-pan .skill-develop-sec-inr {
	padding: 40px 0 35px;
}
.skill-dev-pan .skl-development-lft-part{
	padding-bottom:20px;	
}
.skill-dev-pan .skill-develop-hldr {
	margin: 10px 0;
}
.skill-dev-pan .skill-develop-hldr .skill-develop-inr-rgt img{
	width:100%;
}
.skill-dev-pan .placement-hldr .placement-sec-rgt {
	padding:20px 0 0;
}
.skill-dev-pan .placement-hldr .placement-sec-rgt p {
	padding: 0 0 20px;
}
.skill-dev-pan .post-placement-ass-hldr {
	padding:20px 0 0;
}

/*--course page--*/
.ethical-hacking-sec .ethical-hacking-sec-inr,
.ethical-hacking-sec .ethical-hacking-sec-inr p{
	padding-top:10px;
}
.ethical-hacking-sec .ethical-hacking-sec-inr{
	padding-bottom:10px;	
}
.course-dev-pan .course-develop-sec-inr h1 {
	font-size: 22px;
	line-height: 32px;
}
.ethical-hacking-sec{
	padding:30px 0 10px;	
}
.course-dev-pan .course-develop-sec-inr h2{
	padding-top:20px;	
}
.course-dev-pan .course-develop-sec-inr h2.course-mod {
	margin: 20px 0 10px;
}
.course-dev-pan .course-develop-sec-inr h2.course-mod {
	font-size: 28px;
	line-height: 44px;
	padding: 10px 20px;
}
.accordion__title-2{
	margin-bottom:30px;	
}
.carrer-graph-sec {
	padding: 10px 0 20px;
}
.carrer-graph-sec .carrer-graph-sec-inr h2 {
	font-size: 40px;
	line-height: 46px;
}
/*--/course page--*/

/*--latest tool--*/
.latest-tool-pannal {
	padding: 40px 0;
}
.skill-develop-sec .skill-develop-sec-hd h3 {
	display:none;
}
.latest-tool-pannal .screen-desc-hldr .desp-info-box {
	padding: 20px 0;
}
.latest-tool-pannal .screen-desc-hldr ul.screen-listing li {
	padding-right: 20px;
}
/*--/latest tool--*/

/*--workshop page--*/
.workshop-bd-hldr .workshop-bd-hldr-inr {
	padding: 3em 0;
}
.workshop-hldr .workshop-hldr-hd .workshop-txt-div h3 {
	width: 50%;
	padding: 6px 0 15px;
	font-size: 12px;
	line-height: 17px;
	display: block;
}
.workshop-bd-hldr .workshop-bd-hldr-inr h4 {
	font-size: 16px;
}
.workshop-bd-hldr .workshop-bd-hldr-inr .topic-hldr .select-box .form-group select.form-control {
	min-height: 44px;
}
.workshop-bd-hldr .workshop-bd-hldr-inr .topic-hldr .recent-text p {
	font-size: 15px;
}
.workshop-bd-hldr .workshop-bd-hldr-inr p {
	font-size: 16px;
	line-height:24px;
	padding:0;
}

.workshop-bd-hldr #listPage li{
	width:100%;
	float:none;
}
.workshop-bd-hldr #listPage li:nth-child(2n+1) {
	margin-right: 0;
}
/*--/workshop page--*/

/*--bug bounty program page--*/
.nano-expansion-toggle{
	font-size:16px;	
}
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(1) .nano-expansion-toggle,
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(2) .nano-expansion-toggle,
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(4) .nano-expansion-toggle,
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(6) .nano-expansion-toggle{
	display:flex;
	justify-content: flex-start;	
}
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(1) .nano-expansion-toggle ins,
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(2) .nano-expansion-toggle ins {
	width: 22.5%;
}
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(4) .nano-expansion-toggle ins {
	width: 18%;
}
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(6) .nano-expansion-toggle ins{
	width: 36%;	
}
/*--/bug bounty program page--*/


/*--contact us page--*/
.contact-sec{
	padding:30px 0;	
}
.contact-sec .contact-hd h2 {
	font-size: 26px;
	line-height: 34px;
	padding:0 0 15px;
}
.contact-sec .contact-hd {
	padding: 0 0 40px;
}
.contact-sec .contact-left-area {
	margin-bottom:15px;
}
.contact-sec .contact-left-area .con-div {
	padding: 15px 0 0;
}
.contact-sec .contact-left-area h3,
.contact-sec .contact-form h3 {
	padding-bottom:18px;
}
.contact-sec .contact-left-area h3:before,
.contact-sec .contact-form h3:before{
	height: 4px;
}
/*--/contact us page--*/

/*--blog page--*/
.blog-mn-section .blog-hldr-pg-det .blog-hldr-hd {
	padding:1.5em 0 .25em;
}
.blog-mn-section .blog-hldr-pg-det .blog-hldr-hd h1 {
	font-size: 42px;
	line-height: 48px;
}
.blog-mn-section .blog-hldr-pg-det .blog-wrapper .blog-img-div .blog-wrapper-listing div img.client,
.blog-mn-section .blog-hldr-pg-det .blog-wrapper .blog-img-div .blog-wrapper-listing div img {
	margin-right: 15px;
	width: 40px;
	height: 40px;
}
.blog-mn-section .blog-hldr-pg-det .blog-wrapper .blog-img-div .blog-wrapper-listing div {
	padding: 0 25px 0 0;
	font-size: 14px;
	line-height: 28px;
}
/*--/blog page--*/
}

@media screen and (min-width: 480px) and (max-width: 585px){
.top-header{
	padding-top:0;	
}
.top-header .logo-hldr{
	justify-content:center;	
}
.top-header .menu-hldr{
	padding:0;
}
.top-header .cont-listing{
	text-align:center;	
	padding:10px 0;
}
.top-header .cont-listing li{
	padding:0 12.5px;	
}
.top-header nav.navbar{
	text-align:center;	
}
.top-header .logo-hldr-mob{
	
}
.top-header .logo-hldr-mob a img{
	width:200px;
}
.navbar-light .navbar-toggler{
	padding:.2rem .5rem;	
}
.navbar-nav .dropdown-menu{
	float:none;
	width:210px !important;
	margin:0 auto;	
	text-align:center;
}
.top-header .navbar-toggler{
	background: #ff8a00;
}
.top-header .navbar-expand-sm .navbar-nav{
	background: #eee;
	margin-top:5px; 
	padding-top:10px;
	padding-bottom: 10px; 
}
.top-header nav.navbar{
	text-align:center;
	justify-content: space-between;
	padding-bottom:5px;
	padding:0 15px;
}
/*----owl-carousel css edit slider----*/
.banner-sec .owl-theme .owl-dots .owl-dot span {
	width: 60px;
	height:5px;
	border-radius:0;
}
.banner-sec .owl-theme .owl-nav.disabled + .owl-dots {
	margin-top: 25px;
}
/*----/owl-carousel css edit slide----*/
.banner-sec .slider .slider-inr-rgt {
	right: 2.5%;
	width:40%;
}
.banner-sec .slider .slider-inr-lft {
	left: 5%;
	top:10%;
	width: 67%;
}
.banner-sec .slider .slider-inr-lft h5 {
	font-size: 11px;
	line-height: 16px;
	padding: 0 0 10px;
}
.banner-sec .slider .slider-inr-lft h1 {
	font-size: 20px;
	line-height: 22px;
}
.banner-sec .slider .slider-inr-lft h1 span {
	font-size: 28px;
	line-height: 36px;
}
.banner-sec .slider .slider-inr-lft button.free-quote-but {
	padding: 3px 12px;
	font-size: 11px;
	margin-top: 10px;
}
.banner-sec .floating-menu {
	right: -70px;
	top: 21%;
}
.banner-sec .floating-menu a {
	padding: 10px 22px 15px 22px;
	font-size: 15px;
}
.cyber-sequrity-sec-hd h2 {
	font-size: 32px;
	line-height: 40px;
}
.cyber-sequrity-sec {
	padding: 45px 0 15px;
}
.cyber-sequrity-sec .cyber-sec-course-hldr .course-box img{
	width:100%;
}
.cyber-sequrity-sec .cyber-sec-course-hldr .course-box .course-box-inr h3 {
	font-size: 15px;
	line-height: 20px;
	font-weight: 400;
}
.cyber-sequrity-sec .cyber-sec-course-hldr .course-box .course-box-inr{
	top:35%;
}
.cyber-sec-sec{
	padding:0;	
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml {
	padding: 35px 0;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml span {
	font-size: 72px;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml h3{
	font-size:22px;	
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml span.sign {
	top: -5px;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-hldr-hd h2 {
	font-size: 32px;
	line-height: 42px;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-big {
	margin-bottom:30px;
}
.cyber-sequrity-sec .cyber-sec-course-hldr .course-box {
	margin-bottom: 25px;
}
.our-service-sec {
	padding: 65px 0 5px;
}
.our-service-sec .our-service-sec-hd h2{
	font-size:32px;	
}
.our-service-sec .our-service-sec-inr{
	padding:20px 0 0;	
}
.our-service-sec .our-service-sec-inr .service-box{
	padding:0 0 30px;	
}
.our-service-sec .our-service-sec-inr .service-box h3{
	font-size:24px;	
}
.why-choose-section {
	background:url(../images/why-choose-ban.jpg) no-repeat center center;
	background-size:cover;
}
.why-choose-section .why-choose-sec-hd h2 {
	font-size: 34px;
	line-height: 42px;
}
.pan-india-cen-sec .pan-india-cen-sec-hd h2 {
	font-size: 36px;
	line-height: 46px;
}
.pan-india-cen-sec {
	padding: 60px 0 50px;
}
.pan-india-cen-sec .pan-india-cen-sec-inr .add-section {
	padding: 0 0 25px;
}
.pan-india-cen-sec .pan-india-cen-sec-inr .location-div img{
	padding-bottom:30px;	
}
.testimonial-pannal {
	background: url(../images/testimonial-bg.jpg) no-repeat center center;
	background-size: cover;
	padding: 40px 0;
}
.testimonial-pannal .testimonial-pannal-hd h2{
	font-size:36px;	
}
.testimonial-pannal .testimonial-pannal-inr .testimonial-box{
	margin-top:30px;	
}
.testimonial-pannal .testimonial-pannal-inr .owl-theme .owl-nav {
	top: 165px;
}
.cert-pannal .cert-hldr .listing-cert li:first-child{
	margin-left:auto;	
}
.cert-pannal .cert-hldr .listing-cert li {
	margin: 0 10px;
}
.cert-pannal .cert-hldr .listing-cert li img {
	width: 138px;
	height: 138px;
}
.cert-pannal .cert-hldr .listing-cert {
	padding: 25px 0;
	text-align: center;
}
.cert-pannal .cert-hldr h3 {
	text-align: center;
}
.ft-top .newslatter-div {
	padding-left: 0;
}
.ft-bot .copyright-pan-lft p {
	font-size: 13px;
	line-height: 24px;
	padding-bottom:20px;
	text-align:center;
}
.ft-top .ft-link-listing{
	padding-bottom:25px;	
}
.ft-top .chat-icon {
	left: 85%;
	top: 93%;
}

/*--skill develipment page--*/
.skill-develop-sec img.ban-inr {
	min-height: 75px;
}
.skill-develop-sec .skill-develop-sec-hd {
	top: 20%;
}
.skill-develop-sec .skill-develop-sec-hd h1{
	font-size:22px;
	line-height:22px;
	font-weight:600;
}
.skill-develop-sec .skill-develop-sec-hd h4 {
	font-size: 16px;
	line-height: 22px;
	padding-top:5px;
}
.skill-dev-pan .skill-develop-sec-inr h1 {
	font-size: 18px;
	line-height: 26px;
}
.skill-dev-pan .skill-develop-sec-inr {
	padding: 30px 0;
}
.skill-dev-pan .cur-ind-dem-hldr p,
.skill-dev-pan .skill-develop-hldr .skill-develop-inr .skill-develop-inr-lft p{
	font-size:15px;	
}
.skill-dev-pan .skill-develop-sec-inr p {
	font-size: 14px;
	line-height: 24px;
}
.skill-develop-sec .skill-develop-sec-hd {
	left: 12.5%;
}
.skill-dev-pan .skl-development-lft-part{
	padding-bottom:20px;	
}
.skill-dev-pan .skill-develop-hldr {
	margin: 15px 0;
}
.skill-dev-pan .skill-develop-hldr .skill-develop-inr .skill-develop-inr-lft {
	padding: 20px;
}
.skill-dev-pan .cur-ind-dem-hldr h2 {
	font-size: 24px;
}
.skill-dev-pan .int-met-sec h2, 
.skill-dev-pan .cur-ind-dem-hldr h3{
	font-size:24px;	
}
.skill-dev-pan .advan-sec h3{
	padding-bottom:10px;	
}
.skill-dev-pan .int-met-sec .para-hldr .para-hldr-rgt p {
	font-size: 15px;
	line-height: 25px;
}
.skill-dev-pan .cur-ind-dem-hldr h2{
	padding:5px 0 15px;
}
.skill-dev-pan .advan-sec .col-lg-6 .adv-listing li,
.skill-dev-pan .advan-sec .col-lg-6 .adv-listing-rgt li {
	font-size: 15px;
}
.skill-dev-pan .advan-sec .col-lg-6 p{
	font-size:15px;	
}
.skill-dev-pan .advan-sec{
	font-size:20px;	
}
.skill-dev-pan .placement-hldr .placement-sec-rgt {
	padding:20px 0 0 0;
}
.skill-dev-pan .placement-hldr .placement-sec-rgt p{
	font-size:15px;	
}
.skill-dev-pan .post-placement-ass-hldr {
	padding: 20px 0 0;
}
.cert-pannal {
	padding:15px 0 25px;
}


/*--course page--*/
.ethical-hacking-sec .ethical-hacking-sec-inr,
.ethical-hacking-sec .ethical-hacking-sec-inr p{
	padding-top:10px;
}
.ethical-hacking-sec .ethical-hacking-sec-inr{
	padding-bottom:10px;	
}
.course-dev-pan .course-develop-sec-inr h1 {
	font-size: 22px;
	line-height: 32px;
}
.ethical-hacking-sec{
	padding:30px 0 10px;	
}
.course-dev-pan .course-develop-sec-inr h2{
	padding-top:20px;	
}
.course-dev-pan .course-develop-sec-inr h2.course-mod {
	margin: 20px 0 10px;
}
.course-dev-pan .course-develop-sec-inr h2.course-mod {
	font-size: 28px;
	line-height: 44px;
	padding: 10px 20px;
}
.accordion__title-2{
	margin-bottom:30px;	
}
.carrer-graph-sec {
	padding: 10px 0 20px;
}
.carrer-graph-sec .carrer-graph-sec-inr h2 {
	font-size: 40px;
	line-height: 46px;
}
/*--/course page--*/

/*--latest tool--*/
.latest-tool-pannal {
	padding: 40px 0;
}
.skill-develop-sec .skill-develop-sec-hd h3 {
	display:none;
}
.latest-tool-pannal .screen-desc-hldr .desp-info-box {
	padding: 20px 0;
}
.latest-tool-pannal .screen-desc-hldr ul.screen-listing li {
	display: block;
	padding:2px 0;
}
.latest-tool-pannal .screen-desc-hldr {
	margin: 0 0 40px;
}
.latest-tool-pannal .screen-desc-hldr .desp-info-box h2 {
	font-size: 40px;
}
.latest-tool-pannal .screen-desc-hldr .desp-info-box h5 {
	font-size: 17px;
}
.latest-tool-pannal .pagination{
	margin-bottom:10px;	
}
.latest-tool-pannal .pagination .page-item:first-child .page-link, 
.latest-tool-pannal .pagination .page-item:last-child .page-link{
	font-size: 20px;
	line-height: 18px;	
}
.latest-tool-pannal .pagination .page-item .page-link {
	width: 36px;
	height: 36px;
	font-size: 15px;
	line-height: 22px;
	margin: 0 5px;
}
#paging a,
#paging a:nth-child(3) {
	margin: 0 5px;
}
/*--/latest tool--*/


/*--workshop page--*/
.workshop-bd-hldr .workshop-bd-hldr-inr {
	padding: 3em 0;
}
.workshop-bd-hldr .workshop-bd-hldr-inr h2 {
	font-size: 28px;
	line-height: 38px;
}
.workshop-bd-hldr .workshop-bd-hldr-inr .topic-hldr {
	padding: 20px;
}
.workshop-bd-hldr .workshop-bd-hldr-inr h4 {
	font-size: 15px;
	line-height:22px;
}
.workshop-bd-hldr .workshop-bd-hldr-inr .topic-hldr .select-box .form-group select.form-control {
	min-height: 46px;
}
.workshop-bd-hldr .workshop-bd-hldr-inr .topic-hldr .recent-text p {
	font-size: 15px;
	margin-top:10px;
}
.workshop-bd-hldr .workshop-bd-hldr-inr p {
	font-size: 15px;
	line-height:24px;
	padding:0;
}

.workshop-bd-hldr #listPage li{
	width:100%;
	float:none;
}
.workshop-bd-hldr #listPage li:nth-child(2n+1) {
	margin-right: 0;
}
/*--/workshop page--*/


/*--bug bounty program page--*/
.nano-expansion-toggle{
	font-size:16px;	
}
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(1) .nano-expansion-toggle,
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(2) .nano-expansion-toggle,
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(4) .nano-expansion-toggle,
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(6) .nano-expansion-toggle{
	display:flex;
	justify-content: flex-start;	
}
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(1) .nano-expansion-toggle ins,
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(2) .nano-expansion-toggle ins {
	width: 30%;
}
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(4) .nano-expansion-toggle ins {
	width:25%;
}
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(6) .nano-expansion-toggle ins{
	width: 50%;	
}
/*--/bug bounty program page--*/


/*--contact us page--*/
.contact-sec{
	padding:30px 0;	
}
.contact-sec .contact-hd h2 {
	font-size: 24px;
	line-height: 32px;
	padding:0 0 15px;
}
.contact-sec .contact-hd {
	padding: 0 0 40px;
}
.contact-sec .contact-left-area {
	margin-bottom:15px;
}
.contact-sec .contact-left-area .con-div {
	padding: 15px 0 0;
}
.contact-sec .contact-left-area h3,
.contact-sec .contact-form h3 {
	padding-bottom:18px;
}
.contact-sec .contact-left-area h3:before,
.contact-sec .contact-form h3:before{
	height: 4px;
}
.contact-sec .contact-hd h2 span {
	font-size: 28px;
	line-height: 40px;
	display: block;
}
/*--/contact us page--*/


/*--blog page--*/
.blog-mn-section .blog-hldr-pg-det .blog-hldr-hd {
	padding:1.5em 0 .25em;
}
.blog-mn-section .blog-hldr-pg-det .blog-hldr-hd h1 {
	font-size: 36px;
	line-height: 42px;
}
.blog-mn-section .blog-hldr-pg-det .blog-wrapper .blog-img-div .blog-wrapper-listing div{
	padding-right: 0;
	padding-bottom: 25px;
	text-align: center;
	margin-right: 15px;
}
.blog-mn-section .blog-hldr-pg-det .blog-wrapper .blog-img-div .blog-wrapper-listing div:last-child{
	padding-right: 0;
	padding-bottom: 0;
	text-align: center;
}
.blog-mn-section .blog-hldr-pg-det .blog-wrapper .blog-img-div .blog-wrapper-listing {
	display:flex;
	flex-direction: column;
	justify-content: center;
}
.blog-mn-section .blog-hldr-pg-det .blog-wrapper h1 {
	padding: 10px 15px 20px;
	font-size: 30px;
	line-height: 36px;
}
.blog-mn-section .blog-hldr-pg-det .blog-hldr-hd h1 {
	padding: 0 0 10px;
}
.blog-mn-section .blog-hldr-pg-det .blog-wrapper h2,
.blog-mn-section .blog-hldr-pg-det .blog-wrapper p {
	padding: 0 15px 15px 15px;
}
.blog-mn-section .blog-hldr-pg-det .blog-wrapper {
	padding: .5em;
}
.blog-mn-section .blog-hldr-pg-det {
	margin-bottom: 2.5em;
}
.blog-mn-section .blog-hldr-pg-det .blog-wrapper .blog-img-div .blog-wrapper-listing div img.client {
	width: 40px;
	height: 40px;
	margin-right: 10px;
}
.blog-mn-section .blog-hldr-pg-det .blog-wrapper .blog-img-div .blog-wrapper-listing div img {
	margin-right: 10px;
	width: 40px;
	height: auto;
}
.blog-mn-section .blog-hldr-pg-det .blog-wrapper .blog-img-div .blog-wrapper-listing {
	display: flex;
	flex-direction: row;
	padding-bottom: 0;
}
.blog-mn-section .blog-hldr-pg-det .blog-wrapper .blog-img-div .blog-wrapper-listing div {
	margin-right: 10px;
	font-size: 14px;
}
.blog-mn-section .blog-hldr-pg-det .blog-wrapper .blog-img-div .blog-wrapper-listing div:last-child,
.blog-mn-section .blog-hldr-pg-det .blog-wrapper .blog-img-div .blog-wrapper-listing div {
	margin-right: 10px;
	text-align: left;
}
/*--/blog page--*/
}

@media only screen and (max-width: 479px) {
.top-header{
	padding-top:0;	
}
.top-header .logo-hldr{
	justify-content:center;	
}
.top-header .menu-hldr{
	padding:0;
}
.top-header .cont-listing{
	text-align:center;	
	padding:10px 0;
}
.top-header .cont-listing li{
	padding:0 12.5px;	
}
.top-header nav.navbar{
	text-align:center;	
}
.top-header .logo-hldr-mob{
	
}
.top-header .logo-hldr-mob a img{
	width:200px;
}
.navbar-light .navbar-toggler{
	padding:.2rem .5rem;	
}
.navbar-nav .dropdown-menu{
	float:none;
	width:300px !important;
	/*width:auto !important;*/
	margin:0 auto;	
	text-align:center;
}
.top-header .navbar-toggler{
	background: #ff8a00;
}
.top-header .navbar-expand-sm .navbar-nav{
	background: #eee;
	margin-top:5px; 
	padding-top:10px;
	padding-bottom: 10px; 
}
.top-header nav.navbar{
	text-align:center;
	justify-content: space-between;
	padding-bottom:5px;
	padding:0 10px 0 10px;
}
header .dropdown-item:focus, 
header .dropdown-item:hover {
	text-align: center !important;
}
header .dropdown-submenu .dropdown-menu .dropdown-item:focus, 
header .dropdown-submenu .dropdown-menu .dropdown-item:hover {
	 text-align: center !important;
} 
/*----owl-carousel css edit slider----*/
.banner-sec .owl-theme .owl-dots .owl-dot span {
	width: 50px;
	height:5px;
	border-radius:0;
}
.banner-sec .owl-theme .owl-nav.disabled + .owl-dots {
	margin-top: 15px;
}
/*----/owl-carousel css edit slide----*/
.banner-sec .slider .slider-inr-rgt {
	right: 2.5%;
	width:40%;
}
.banner-sec .slider .slider-inr-lft {
	left: 5%;
	top:10%;
	width: 80%;
}
.banner-sec .slider .slider-inr-lft h5 {
	font-size: 10px;
	line-height: 12px;
	padding: 0 0 7px;
}
.banner-sec .slider .slider-inr-lft h1 {
	font-size: 18px;
	line-height: 16px;
}
.banner-sec .slider .slider-inr-lft h1 span {
	font-size: 28px;
	line-height: 36px;
}
.banner-sec .slider .slider-inr-lft button.free-quote-but {
	padding: 3px 12px;
	font-size: 11px;
	margin-top: 3px;
	position:relative;
	z-index:1;
}
.banner-sec .floating-menu {
	right: -65px;
	top: 18%;
}
.banner-sec .floating-menu a {
	padding: 10px 15px 15px 15px;
	font-size: 15px;
}
.cyber-sequrity-sec-hd h2 {
	font-size: 32px;
	line-height: 40px;
}
.cyber-sequrity-sec {
	padding: 25px 0 15px;
}
.cyber-sequrity-sec .cyber-sec-course-hldr .course-box img{
	width:100%;
}
.cyber-sequrity-sec .cyber-sec-course-hldr .course-box .course-box-inr h3 {
	font-size: 15px;
	line-height: 20px;
	font-weight: 400;
}
.cyber-sequrity-sec .cyber-sec-course-hldr .course-box .course-box-inr{
	top:35%;
}
.cyber-sec-sec{
	padding:0;	
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml {
	padding: 35px 0;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml span {
	font-size: 72px;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml h3{
	font-size:22px;	
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml span.sign {
	top: -5px;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-hldr-hd h2 {
	font-size: 32px;
	line-height: 42px;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-big {
	margin-bottom:30px;
}
.cyber-sequrity-sec .cyber-sec-course-hldr .course-box {
	margin-bottom: 25px;
}
.our-service-sec {
	padding: 75px 0 5px;
}
.our-service-sec .our-service-sec-hd h2{
	font-size:32px;	
}
.our-service-sec .our-service-sec-inr{
	padding:30px 0 0;	
}
.our-service-sec .our-service-sec-inr .service-box{
	padding:0 0 30px;	
}
.our-service-sec .our-service-sec-inr .service-box h3{
	font-size:24px;	
}
.why-choose-section {
	background:url(../images/why-choose-ban.jpg) no-repeat center center;
	background-size:cover;
}
.why-choose-section .why-choose-sec-hd h2 {
	font-size: 32px;
	line-height: 42px;
}
.pan-india-cen-sec .pan-india-cen-sec-hd h2 {
	font-size: 36px;
	line-height: 46px;
}
.pan-india-cen-sec {
	padding: 60px 0 50px;
}
.pan-india-cen-sec .pan-india-cen-sec-inr .add-section {
	padding: 0 0 25px;
}
.pan-india-cen-sec .pan-india-cen-sec-inr .location-div img{
	padding-bottom:30px;	
}
.testimonial-pannal {
	background: url(../images/testimonial-bg.jpg) no-repeat center center;
	background-size: cover;
	padding: 40px 0;
}
.testimonial-pannal .testimonial-pannal-hd h2{
	font-size:36px;	
}
.testimonial-pannal .testimonial-pannal-inr .testimonial-box{
	margin-top:30px;	
}
.testimonial-pannal .testimonial-pannal-inr .owl-theme .owl-nav {
	top: 165px;
}
.cert-pannal .cert-hldr .listing-cert li:first-child{
	margin-left:auto;	
}
.cert-pannal .cert-hldr .listing-cert li {
	margin: 0 5px;
}
.cert-pannal .cert-hldr .listing-cert li img {
	width: 138px;
	height: 138px;
}
.cert-pannal .cert-hldr .listing-cert {
	padding: 25px 0;
	text-align: center;
}
.cert-pannal .cert-hldr h3 {
	text-align: center;
}
.ft-top{
	padding:50px 0;	
}
.ft-top .newslatter-div {
	padding-left: 0;
}
.ft-bot .copyright-pan-lft p{
	font-size: 12.5px;
	line-height: 24px;
	padding-bottom:20px;
	text-align:center;
}
.ft-top .ft-link-listing{
	padding-bottom:25px;	
}
.ft-top .chat-icon {
	left: 80%;
	top: 93%;
}

#modal-box .modal-body .close {
	top: -20px;
	right: -10px;
}
#modal-box .modal-body h5{
	font-size:18px;	
}
#modal-box .modal-body h2 {
	font-size: 28px;
	line-height: 32px;
}
#modal-box .modal-dialog .modal-content {
	padding: 30px 20px;
}

/*--skill develipment page--*/
.skill-develop-sec img.ban-inr {
	min-height: 75px;
}
.skill-develop-sec .skill-develop-sec-hd {
	top: 20%;
}
.skill-develop-sec .skill-develop-sec-hd h1{
	font-size:18px;
	line-height:22px;
	font-weight:600;
}
.skill-develop-sec .skill-develop-sec-hd h4 {
	font-size: 14px;
	line-height: 22px;
	padding-top:3px;
}
.skill-dev-pan .skill-develop-sec-inr h1 {
	font-size: 18px;
	line-height: 26px;
}
.skill-dev-pan .skill-develop-sec-inr {
	padding: 30px 0;
}
.skill-dev-pan .cur-ind-dem-hldr p,
.skill-dev-pan .skill-develop-hldr .skill-develop-inr .skill-develop-inr-lft p{
	font-size:15px;	
}
.skill-dev-pan .skill-develop-sec-inr p {
	font-size: 14px;
	line-height: 24px;
}
.skill-develop-sec .skill-develop-sec-hd {
	left: 12.5%;
}
.skill-dev-pan .skl-development-lft-part{
	padding-bottom:20px;	
}
.skill-dev-pan .skill-develop-hldr {
	margin: 15px 0;
}
.skill-dev-pan .skill-develop-hldr .skill-develop-inr .skill-develop-inr-lft {
	padding: 20px;
}
.skill-dev-pan .cur-ind-dem-hldr h2 {
	font-size: 24px;
}
.skill-dev-pan .int-met-sec h2, 
.skill-dev-pan .cur-ind-dem-hldr h3{
	font-size:24px;	
}
.skill-dev-pan .int-met-sec .para-hldr .para-hldr-rgt p {
	font-size: 15px;
	line-height: 25px;
}
.skill-dev-pan .advan-sec .col-lg-6 .adv-listing li,
.skill-dev-pan .advan-sec .col-lg-6 .adv-listing-rgt li {
	font-size: 15px;
}
.skill-dev-pan .advan-sec .col-lg-6 p{
	font-size:15px;	
}
.skill-dev-pan .advan-sec{
	font-size:20px;	
}
.skill-dev-pan .placement-hldr .placement-sec-rgt {
	padding:20px 0 0 0;
}
.skill-dev-pan .placement-hldr .placement-sec-rgt p{
	font-size:15px;	
}
.skill-dev-pan .post-placement-ass-hldr {
	padding: 20px 0 0;
}
.cert-pannal {
	padding:15px 0 25px;
}


/*--clients page--*/
.clients-sec .clients-hldr li{
	margin-right:0;	
}
/*--/clients page--*/


/*--course page--*/
.ethical-hacking-sec .ethical-hacking-sec-inr,
.ethical-hacking-sec .ethical-hacking-sec-inr p{
	padding-top:10px;
}
.ethical-hacking-sec .ethical-hacking-sec-inr{
	padding-bottom:10px;	
}
.course-dev-pan .course-develop-sec-inr h1 {
	font-size: 20px;
	line-height: 30px;
}
.cam-res-prog h1::before {
	font-size: 30px;
}
.cam-res-prog h1 {
	padding-left: 45px !important;
}
.cam-res-prog .cam-res-rgt .cot-txt-div {
	padding: 15px 0 10px;
}
.cam-res-prog .cam-res-rgt .cot-txt-div big {
	font-size: 18px;
}
.ethical-hacking-sec{
	padding:30px 0 10px;	
}
.course-dev-pan .course-develop-sec-inr h2{
	padding-top:20px;	
}
.course-dev-pan .course-develop-sec-inr h2.course-mod {
	margin: 20px 0 10px;
}
.course-dev-pan .course-develop-sec-inr h2.course-mod {
	font-size: 28px;
	line-height: 44px;
	padding: 10px 20px;
}
.accordion__title-2{
	margin-bottom:30px;	
}
.carrer-graph-sec {
	padding: 10px 0 20px;
}
.carrer-graph-sec .carrer-graph-sec-inr h2 {
	font-size: 32px;
	line-height: 36px;
}
/*--/course page--*/


/*--blog page--*/
.blog-sec{
	padding-bottom:0;	
}
.blog-sec .blog-sec-inr{
	margin:12px 0 0 0;
}
.blog-sec .blog-sec-inr-cont{
	margin-bottom:30px;
	padding:25px 20px;	
	background:rgba(245,245,245,0.75);
	border:1px solid #eee;
}
.blog-sec .blog-sec-inr-cont div{
	text-align: center;
}
.blog-sec .blog-sec-inr-cont .article-listing ul li {
	font-size: 11px;
}
.blog-sec .blog-sec-inr-cont a.rd-mr {
	padding: 6px 10px;
	font-size: 11px;
	margin-bottom: 12px;
}
.blog-sec .blog-sec-inr-cont{
	margin-bottom:0;
}
.blog-sec .blog-hd h3 span {
	font-size: 16px;
	padding: 6px 15px;
}
.blog-sec .blog-hd h3::after {
	height: 37px;
}
.blog-sec .view-all a{
	margin-top: 2px;
}
.blog-sec .cyber-sec .owl-nav button.owl-prev i::before,
.blog-sec .cyber-sec .owl-nav button.owl-next i::before,
.blog-sec .cyber-sec .owl-nav button.owl-prev i::after,
.blog-sec .cyber-sec .owl-nav button.owl-next i::after {
	display: none;
}
.blog-sec .cyber-sec .owl-nav button.owl-next i, .blog-sec .cyber-sec .owl-nav button.owl-prev i {
	width: 42px;
	height: 46px;
}
.blog-sec .cyber-sec {
	margin: 0px 0 50px;
}
.blog-sec .cyber-sec .recent-div-rgt h3{
	padding-top:30px;	
}
/*--/blog page--*/


/*--latest tool--*/
.latest-tool-pannal {
	padding: 40px 0;
}
.skill-develop-sec .skill-develop-sec-hd h3 {
	display:none;
}
.latest-tool-pannal .screen-desc-hldr .desp-info-box {
	padding: 20px 0;
}
.latest-tool-pannal .screen-desc-hldr ul.screen-listing li {
	display: block;
	padding:2px 0;
}
.latest-tool-pannal .screen-desc-hldr {
	margin: 0 0 40px;
}
.latest-tool-pannal .screen-desc-hldr .desp-info-box h2 {
	font-size: 38px;
}
.latest-tool-pannal .screen-desc-hldr .desp-info-box h5 {
	font-size: 17px;
}
.latest-tool-pannal .pagination{
	margin-bottom:10px;	
}
.latest-tool-pannal .pagination .page-item:first-child .page-link, 
.latest-tool-pannal .pagination .page-item:last-child .page-link{
	font-size: 20px;
	line-height: 18px;	
}
.latest-tool-pannal .pagination .page-item .page-link {
	width: 36px;
	height: 36px;
	font-size: 15px;
	line-height: 22px;
	margin: 0 5px;
}
.latest-tool-pannal .screen-desc-hldr .desp-info-box:first-child {
	padding-bottom: 0;
}

#paging a,
#paging a:nth-child(3) {
	margin: 0 4px;
	padding:6px 12px;
	font-size:13px;
}
.add-gap{
	padding:5px 12px !important;	 
	font-size: 18px !important;
	position:relative !important;
	top:3px !important;
}
/*--/latest tool--*/

/*--workshop page--*/
.workshop-bd-hldr .workshop-bd-hldr-inr {
	padding: 3em 0;
}
.workshop-bd-hldr .workshop-bd-hldr-inr h2 {
	font-size: 28px;
	line-height: 38px;
}
.workshop-bd-hldr .workshop-bd-hldr-inr .topic-hldr {
	padding: 20px;
}
.workshop-bd-hldr .workshop-bd-hldr-inr h4 {
	font-size: 14px;
	line-height:22px;
}
.workshop-bd-hldr .workshop-bd-hldr-inr .topic-hldr .select-box .form-group select.form-control {
	min-height: 44px;
}
.workshop-bd-hldr .workshop-bd-hldr-inr .topic-hldr .recent-text p {
	font-size: 15px;
	margin-top:10px;
}
.workshop-bd-hldr .workshop-bd-hldr-inr p {
	font-size: 14px;
	line-height:24px;
	padding:0;
}

.workshop-bd-hldr #listPage li{
	width:100%;
	float:none;
}
.workshop-bd-hldr #listPage li:nth-child(2n+1) {
	margin-right: 0;
}
.workshop-bd-hldr #listPage li .video-box h3 {
	font-size: 17px;
	line-height: 24px;
}
/*--/workshop page--*/


/*--bug bounty program page--*/
.nano-expansion-toggle{
	font-size:13px;	
}
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(1) .nano-expansion-toggle,
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(2) .nano-expansion-toggle,
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(3) .nano-expansion-toggle,
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(4) .nano-expansion-toggle,
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(5) .nano-expansion-toggle,
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(6) .nano-expansion-toggle,
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(10) .nano-expansion-toggle{
	display:flex;
	justify-content: flex-start;	
}
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(1) .nano-expansion-toggle ins,
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(2) .nano-expansion-toggle ins{
	width: 40%;
	padding-right:2.5%;
}
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(3) .nano-expansion-toggle ins {
	width: 25%;	
}
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(4) .nano-expansion-toggle ins {
	width:35%;
}
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(5) .nano-expansion-toggle ins {
	width:25%;
}
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(6) .nano-expansion-toggle ins{
	width: 70%;	
}
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(10) .nano-expansion-toggle ins{
	width: 25%;	
}
/*--/bug bounty program page--*/


/*--contact us page--*/
.contact-sec{
	padding:30px 0;	
}
.contact-sec .contact-hd h2 {
	font-size: 22px;
	line-height: 30px;
	padding:0 0 15px;
}
.contact-sec .contact-hd {
	padding: 0 0 50px;
}
.contact-sec .contact-left-area {
	margin-bottom:15px;
}
.contact-sec .contact-left-area .con-div {
	padding: 15px 0 0;
}
.contact-sec .contact-left-area h3,
.contact-sec .contact-form h3 {
	font-size: 23px;
	padding-bottom:18px;
}
.contact-sec .contact-left-area h3:before,
.contact-sec .contact-form h3:before{
	height: 4px;
}
/*--/contact us page--*/


/*--blog page--*/
.blog-mn-section .blog-hldr-pg-det .blog-hldr-hd {
	padding:1.5em 0 .25em;
}
.blog-mn-section .blog-hldr-pg-det .blog-hldr-hd h1 {
	font-size: 36px;
	line-height: 42px;
}
.blog-mn-section .blog-hldr-pg-det .blog-wrapper .blog-img-div .blog-wrapper-listing div{
	padding-right: 0;
	padding-bottom: 25px;
	text-align: center;
}
.blog-mn-section .blog-hldr-pg-det .blog-wrapper .blog-img-div .blog-wrapper-listing div:last-child{
	padding-right: 0;
	padding-bottom: 0;
	text-align: center;
}
.blog-mn-section .blog-hldr-pg-det .blog-wrapper .blog-img-div .blog-wrapper-listing {
	display:flex;
	flex-direction: column;
	justify-content: center;
}
.blog-mn-section .blog-hldr-pg-det .blog-wrapper h1 {
	padding: 10px 15px 20px;
	font-size: 30px;
	line-height: 36px;
}
.blog-mn-section .blog-hldr-pg-det .blog-hldr-hd h1 {
	padding: 0 0 10px;
}
.blog-mn-section .blog-hldr-pg-det .blog-wrapper h2,
.blog-mn-section .blog-hldr-pg-det .blog-wrapper p {
	padding: 0 15px 15px 15px;
}
.blog-mn-section .blog-hldr-pg-det .blog-wrapper {
	padding: .5em;
}
.blog-mn-section .blog-hldr-pg-det {
	margin-bottom: 2.5em;
}
/*--/blog page--*/
}
