@media screen and (min-width: 1025px) and (max-width: 1400px) {
.top-header {
	padding: 10px 0 5px;
}
.top-header nav.navbar {
	padding: .4rem .25rem 0;
}
header .dropdown-item:focus, 
header .dropdown-item{
	font-size:15px;	
}
header .dropdown-item {
	padding: .3rem .5rem;
	font-size:13px;
}
.top-header .navbar-expand-sm .navbar-nav .nav-item .nav-link{
	font-size:15px;	
}
.navbar-expand-sm .navbar-nav .nav-link {
	padding-right: .75rem;
	padding-left: .75rem;
}
.banner-sec .slider .slider-inr-lft {
	top: 30%;
	left: 10%;
	width: 40%;
}
.banner-sec .slider .slider-inr-lft{
	top:15%;	
}
.banner-sec .slider .slider-inr-lft h5{
	font-size:20px;	
}
.banner-sec .slider .slider-inr-lft h1{
	font-size:52px;	
}
.banner-sec .slider .slider-inr-lft h1 span {
	font-size:88px;
	line-height:64px;	
}
.banner-sec .slider .slider-inr-lft a.free-quote-but {
	margin-top: 35px;
	font-size: 22px;
	padding: 22px 30px;
}
.banner-sec .slider .slider-inr-rgt{
	top:7%;	
}
.banner-sec .slider .slider-inr-rgt img{
	width:65%;
}
.bx-wrapper .bx-pager {
	bottom: -12.5%;
}
.banner-sec .floating-menu {
	right: -90px;
	top: 25%;
}
.banner-sec .floating-menu a {
	padding: 15px 30px 25px 30px;
	font-size: 18px;
}
}
@media screen and (min-width: 961px) and (max-width: 1024px) {
.top-header .menu-hldr{
	padding:0 20px 0;	
}
.top-header .navbar-expand-sm .navbar-nav .nav-item{
	padding:0 5px;	
}
.top-header .navbar-expand-sm .navbar-nav .nav-item .nav-link{
	font-size:14px;	
}
header .dropdown-item:focus, header .dropdown-item{
	font-size:13px;	
}
.banner-sec .slider .slider-inr-lft{
	top:15%;	
}
.banner-sec .slider .slider-inr-lft h5{
	font-size:15px;	
	line-height:24px;
}
.banner-sec .slider .slider-inr-lft h1{
	font-size:42px;	
}
.banner-sec .slider .slider-inr-lft h1 span {
	display: block;
	font-size: 75px;
	line-height: 44px;
}
.banner-sec .slider .slider-inr-rgt{
	top:7%;	
}
.banner-sec .slider .slider-inr-rgt img{
	width:65%;
}
.banner-sec .slider .slider-inr-lft a.free-quote-but {
	padding: 16px 26px;
	font-size: 18px;
}
.cyber-sequrity-sec {
	padding: 70px 0 50px;
}
.bx-wrapper .bx-pager {
	bottom: -13.5%;
}
.banner-sec .floating-menu {
	right: -90px;
	top: 22.5%;
}
.banner-sec .floating-menu a {
	padding: 15px 30px 25px 30px;
	font-size: 17px;
}
.cyber-sequrity-sec-hd h2{
	font-size:36px;	
}
.cyber-sequrity-sec .cyber-sec-course-hldr .course-box .course-box-inr {
	top: 60%;
}
.cyber-sequrity-sec .cyber-sec-course-hldr .course-box .course-box-inr h3 {
	font-size: 22px;
	line-height: 28px;
	font-weight: 500;
}
.cyber-sequrity-sec {
	padding: 60px 0 25px;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml h3 {
	font-size: 19px;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml {
	padding: 24px 0;
}
.our-service-sec {
	padding: 50px 0 25px;
}
.our-service-sec .our-service-sec-inr .service-box h3 {
	font-size: 22px;
	line-height: 32px;
}
.why-choose-section {
	padding: 60px 0 60px;
}
.pan-india-cen-sec .pan-india-cen-sec-inr .add-section {
	padding: 0 0 40px;
}
.pan-india-cen-sec {
	padding: 60px 0 50px;
}
.testimonial-pannal .testimonial-pannal-inr .testimonial-box {
	padding: 30px 30px 5px;
}
.cert-pannal {
	padding: 50px 0;
}
.cert-pannal .cert-hldr .listing-cert li {
	margin: 0 10px;
}
.cert-pannal .cert-hldr .listing-cert li img {
	width: 130px;
	height: 130px;
	padding: 5px;
}
.cert-pannal .cert-hldr h3 {
	font-size: 26px;
	line-height: 32px;
}
.cert-pannal .cert-hldr .listing-cert {
	padding: 15px 0;
}
.ft-top .newslatter-div {
	padding-left: 20px;
}
.ft-top .chat-icon {
	top: 82%;
	left: 92%;
}
.ft-bot{
	padding: 15px 0;
}
}

@media screen and (min-width: 768px) and (max-width: 960px) {
.top-header{
	padding-top:10px;	
}
.top-header .menu-hldr{
	padding:0 15px 0 0;	
}
.top-header .logo-hldr {
	padding: 0 0 0 15px;
}
.top-header .cont-listing li a {
	font-size: 13px;
}
.top-header nav.navbar {
	padding: .25rem .25rem 0;
}
.top-header .navbar-expand-sm .navbar-nav .nav-item {
	padding: 0px 4px;
}
.top-header .navbar-expand-sm .navbar-nav .nav-item .nav-link {	
	padding:3px .25rem;
	font-size:12px;
}
.navbar-nav .dropdown-menu{
	font-size:10px;
}
header .dropdown-item {	
	font-size: 11.5px;
	padding:.25rem .5rem;
}
/*--bx slider--*/
.bx-wrapper .bx-pager.bx-default-pager a {
	border-radius: 0;
	width: 44px;
	height: 6px;
}
.bx-wrapper .bx-pager {
	bottom: -20%;
}
/*--/bx slider--*/
.banner-sec .floating-menu {
	right: -80px;
	top: 22.5%;
}
.banner-sec .floating-menu a {
	padding: 10px 25px 15px 25px;
	font-size: 16px;
}
.banner-sec .slider .slider-inr-rgt {
	right: 2.5%;
	width:45%;
	top: 5%;
}
.banner-sec .slider .slider-inr-lft {
	left: 5%;
	top:10%;
	width: 55%;
}
.banner-sec .slider .slider-inr-lft h5 {
	font-size: 14px;
	line-height: 22px;
	padding: 0 0 10px;
}
.banner-sec .slider .slider-inr-lft h1 {
	font-size: 36px;
	line-height: 42px;
}
.banner-sec .slider .slider-inr-lft h1 span {
	font-size: 52px;
	line-height: 52px;
}
.banner-sec .slider .slider-inr-lft a.free-quote-but {
	padding: 10px 40px;
	font-size: 15px;
	margin-top: 15px;
}
.banner-sec .slider .slider-inr-lft h5 {
	font-size: 15px;
	line-height: 26px;
}
.cyber-sequrity-sec {
	padding: 70px 0 50px;
}
.cyber-sequrity-sec .cyber-sec-course-hldr .course-box .course-box-inr {
	top: 40%;
	min-height: 90px;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml {
	padding: 15px 0;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml span {
	font-size: 56px;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml span.sign {
	top: 0px;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml h3 {
	font-size: 18px;
	font-weight: 600;
	min-height: 44px;
}
.cyber-sec-sec .cyber-sec-hldr-inr {
	padding: 35px 0 30px;
}
.cyber-sec-sec{
	padding: 0 0 20px 0;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-big {
	padding: 10px;
}
.cyber-sequrity-sec .cyber-sec-course-hldr .course-box .course-box-inr h3 {
	font-size: 20px;
	line-height: 26px;
	font-weight: 500;
}
.our-service-sec {
	padding: 65px 0 5px;
}
.our-service-sec .our-service-sec-inr .service-box h3 {
	font-size: 24px;
	line-height:32px;
}
.why-choose-section .why-choose-sec-hd h2 {
	font-size: 36px;
	line-height: 52px;
}
.pan-india-cen-sec .pan-india-cen-sec-hd h2 {
	font-size: 36px;
	line-height: 42px;
}
.pan-india-cen-sec {
	padding: 50px 0;
}
.testimonial-pannal .testimonial-pannal-hd h2{
	font-size:36px;	
}
.testimonial-pannal .testimonial-pannal-hd {
	padding: 0 0 20px;
}
.testimonial-pannal {
	padding: 50px 0;
}
.testimonial-pannal .testimonial-pannal-inr .testimonial-box{
	margin-top:30px;	
}
.testimonial-pannal .testimonial-pannal-inr .owl-theme .owl-nav {
	top: 155px;
}
.testimonial-pannal .testimonial-pannal-inr .testimonial-box h3,
.testimonial-pannal .testimonial-pannal-inr .video-box h3 {
	font-size: 28px;
}
.cert-pannal {
	padding: 40px 0 40px;
}
.cert-pannal .cert-hldr .listing-cert li img {
	width: 96px;
	height: 96px;
	padding: 5px;
}
.cert-pannal .cert-hldr .listing-cert li {
	margin: 0 10px;
}
.cert-pannal .cert-hldr h3 {
	font-size: 22px;
	line-height: 28px;
}
.cert-pannal .cert-hldr .listing-cert {
	padding: 15px 0;
}
.ft-top .newslatter-div {
	padding-left: 0;
}
.ft-top .ft-list-hldr h3 {
	font-size: 18px;
	line-height: 26px;
}
.ft-top .ft-link-listing li a {
	font-size: 14px;
}
.ft-top .chat-icon {
	left: 88%;
	top: 80%;
}
.ft-bot .copyright-pan-lft p {
	font-size: 15px;
	line-height: 24px;
}
}

@media screen and (min-width: 586px) and (max-width: 767px) {
.top-header{
	padding-top:10px;	
}
.top-header .logo-hldr{
	justify-content:center;	
	padding-left:0;
}
.top-header .logo-hldr a img{
	display:block;
	margin:0 auto;	
}
.top-header .menu-hldr{
	padding:0;
}
.top-header .cont-listing{
	text-align:center;	
	padding:10px 0;
}
.top-header .cont-listing li{
	padding:0 12.5px;	
}
.top-header nav.navbar{
	text-align:center;	
}
.top-header .logo-hldr-mob{
	
}
.top-header .navbar-expand-sm .navbar-nav {
	padding-top: 0;
}
.top-header .logo-hldr-mob a img{
	width:200px;
}
.navbar-light .navbar-toggler{
	padding:.2rem .5rem;	
}
.navbar-nav .dropdown-menu{
	font-size:12px;
}
header .dropdown-item{
	font-size:12.5px;	
}
.top-header .navbar-toggler{
	background: #ff8a00;
}
.top-header .navbar-expand-sm .navbar-nav .nav-item .nav-link{
	font-size:13px;	
	padding-left:5px;
	padding-right:5px
}
.top-header .navbar-expand-sm .navbar-nav .nav-item {
	padding: 0px 5px;
}
.top-header nav.navbar{
	text-align:center;
	justify-content: space-between;
	padding-bottom:5px;
	padding:0 15px;
}
/*--bx slider--*/
.bx-wrapper .bx-pager.bx-default-pager a {
	border-radius: 0;
	width: 44px;
	height: 5px;
}
.bx-wrapper .bx-pager {
	bottom: -20%;
}
/*--/bx slider--*/
.banner-sec .floating-menu {
	right: -80px;
	top: 28%;
}
.banner-sec .floating-menu a {
	padding: 10px 25px 15px 25px;
	font-size: 16px;
}
.banner-sec .slider .slider-inr-rgt {
	right: 2.5%;
	width:40%;
}
.banner-sec .slider .slider-inr-lft {
	left: 5%;
	top:10%;
	width: 65%;
}
.banner-sec .slider .slider-inr-lft h5 {
	font-size: 14px;
	line-height: 22px;
	padding: 0 0 10px;
}
.banner-sec .slider .slider-inr-lft h1 {
	font-size: 32px;
	line-height: 40px;
}
.banner-sec .slider .slider-inr-lft h1 span {
	font-size: 40px;
	line-height: 48px;
}
.banner-sec .slider .slider-inr-lft a.free-quote-but {
	padding: 6px 25px;
	font-size: 13px;
	margin-top: 10px;
}
.cyber-sequrity-sec-hd h2 {
	font-size: 32px;
	line-height: 40px;
}
.cyber-sequrity-sec {
	padding: 55px 0 15px;
}
.cyber-sequrity-sec .cyber-sec-course-hldr .course-box img{
	width:100%;
}
.cyber-sequrity-sec .cyber-sec-course-hldr .course-box .course-box-inr h3 {
	font-size: 18px;
	line-height: 22px;
	font-weight: 600;
}
.cyber-sequrity-sec .cyber-sec-course-hldr .course-box .course-box-inr{
	top:35%;
}
.cyber-sec-sec{
	padding:0;	
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml {
	padding: 35px 0;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml span {
	font-size: 72px;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml h3{
	font-size:22px;	
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml span.sign {
	top: -5px;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-hldr-hd h2 {
	font-size: 32px;
	line-height: 42px;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-big {
	margin-bottom:30px;
}
.cyber-sequrity-sec .cyber-sec-course-hldr .course-box {
	margin-bottom: 25px;
}
.our-service-sec {
	padding: 75px 0 5px;
}
.our-service-sec .our-service-sec-hd h2{
	font-size:32px;	
}
.our-service-sec .our-service-sec-inr{
	padding:30px 0 0;	
}
.our-service-sec .our-service-sec-inr .service-box{
	padding:0 0 30px;	
}
.our-service-sec .our-service-sec-inr .service-box h3{
	font-size:24px;	
}
.why-choose-section {
	background:url(../images/why-choose-ban.jpg) no-repeat center center;
	background-size:cover;
}
.why-choose-section .why-choose-sec-hd h2 {
	font-size: 32px;
	line-height: 42px;
}
.pan-india-cen-sec .pan-india-cen-sec-hd h2 {
	font-size: 36px;
	line-height: 46px;
}
.pan-india-cen-sec {
	padding: 60px 0 50px;
}
.pan-india-cen-sec .pan-india-cen-sec-inr .add-section {
	padding: 0 0 25px;
}
.pan-india-cen-sec .pan-india-cen-sec-inr .location-div img{
	padding-bottom:0;
}
.testimonial-pannal {
	background: url(../images/testimonial-bg.jpg) no-repeat center center;
	background-size: cover;
	padding: 40px 0;
}
.testimonial-pannal .testimonial-pannal-hd h2{
	font-size:36px;	
}
.testimonial-pannal .testimonial-pannal-inr .testimonial-box{
	margin-top:30px;	
}
.testimonial-pannal .testimonial-pannal-inr .owl-theme .owl-nav {
	top: 165px;
}
.cert-pannal .cert-hldr .listing-cert li:first-child{
	margin-left:auto;	
}
.cert-pannal .cert-hldr .listing-cert li {
	margin: 0 10px;
}
.cert-pannal .cert-hldr .listing-cert li img {
	width: 138px;
	height: 138px;
}
.cert-pannal .cert-hldr .listing-cert {
	padding: 25px 0;
	text-align: center;
}
.cert-pannal .cert-hldr h3 {
	text-align: center;
}
.ft-top .newslatter-div {
	padding-left: 0;
}
.ft-bot .copyright-pan-lft p {
	font-size: 14px;
	line-height: 24px;
	padding-bottom:20px;
	text-align:center;
}
.ft-top .ft-link-listing{
	padding-bottom:25px;	
}
.ft-top .chat-icon {
	left: 88%;
	top: 90%;
}
}

@media screen and (min-width: 480px) and (max-width: 585px){
.top-header{
	padding-top:0;	
}
.top-header .logo-hldr{
	justify-content:center;	
}
.top-header .menu-hldr{
	padding:0;
}
.top-header .cont-listing{
	text-align:center;	
	padding:10px 0;
}
.top-header .cont-listing li{
	padding:0 12.5px;	
}
.top-header nav.navbar{
	text-align:center;	
}
.top-header .logo-hldr-mob{
	
}
.top-header .logo-hldr-mob a img{
	width:200px;
}
.navbar-light .navbar-toggler{
	padding:.2rem .5rem;	
}
.navbar-nav .dropdown-menu{
	float:none;
	width:210px !important;
	margin:0 auto;	
	text-align:center;
}
.top-header .navbar-toggler{
	background: #ff8a00;
}
.top-header .navbar-expand-sm .navbar-nav{
	background: #eee;
	margin-top:5px; 
	padding-top:10px;
	padding-bottom: 10px; 
}
.top-header nav.navbar{
	text-align:center;
	justify-content: space-between;
	padding-bottom:5px;
	padding:0 15px;
}
/*--bx slider--*/
.bx-wrapper .bx-pager.bx-default-pager a {
	border-radius: 0;
	width: 44px;
	height: 5px;
}
.bx-wrapper .bx-pager {
	bottom: -25%;
}
/*--/bx slider--*/
.banner-sec .slider .slider-inr-rgt {
	right: 2.5%;
	width:40%;
}
.banner-sec .slider .slider-inr-lft {
	left: 5%;
	top:10%;
	width: 65%;
}
.banner-sec .slider .slider-inr-lft h5 {
	font-size: 11px;
	line-height: 16px;
	padding: 0 0 10px;
}
.banner-sec .slider .slider-inr-lft h1 {
	font-size: 20px;
	line-height: 22px;
}
.banner-sec .slider .slider-inr-lft h1 span {
	font-size: 28px;
	line-height: 36px;
}
.banner-sec .slider .slider-inr-lft a.free-quote-but {
	padding: 3px 12px;
	font-size: 11px;
	margin-top: 5px;
}
.banner-sec .floating-menu {
	right: -70px;
	top: 21%;
}
.banner-sec .floating-menu a {
	padding: 10px 22px 15px 22px;
	font-size: 15px;
}
.cyber-sequrity-sec-hd h2 {
	font-size: 32px;
	line-height: 40px;
}
.cyber-sequrity-sec {
	padding: 55px 0 15px;
}
.cyber-sequrity-sec .cyber-sec-course-hldr .course-box img{
	width:100%;
}
.cyber-sequrity-sec .cyber-sec-course-hldr .course-box .course-box-inr h3 {
	font-size: 15px;
	line-height: 20px;
	font-weight: 400;
}
.cyber-sequrity-sec .cyber-sec-course-hldr .course-box .course-box-inr{
	top:35%;
}
.cyber-sec-sec{
	padding:0;	
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml {
	padding: 35px 0;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml span {
	font-size: 72px;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml h3{
	font-size:22px;	
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml span.sign {
	top: -5px;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-hldr-hd h2 {
	font-size: 32px;
	line-height: 42px;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-big {
	margin-bottom:30px;
}
.cyber-sequrity-sec .cyber-sec-course-hldr .course-box {
	margin-bottom: 25px;
}
.our-service-sec {
	padding: 65px 0 5px;
}
.our-service-sec .our-service-sec-hd h2{
	font-size:32px;	
}
.our-service-sec .our-service-sec-inr{
	padding:20px 0 0;	
}
.our-service-sec .our-service-sec-inr .service-box{
	padding:0 0 30px;	
}
.our-service-sec .our-service-sec-inr .service-box h3{
	font-size:24px;	
}
.why-choose-section {
	background:url(../images/why-choose-ban.jpg) no-repeat center center;
	background-size:cover;
}
.why-choose-section .why-choose-sec-hd h2 {
	font-size: 34px;
	line-height: 42px;
}
.pan-india-cen-sec .pan-india-cen-sec-hd h2 {
	font-size: 36px;
	line-height: 46px;
}
.pan-india-cen-sec {
	padding: 60px 0 50px;
}
.pan-india-cen-sec .pan-india-cen-sec-inr .add-section {
	padding: 0 0 25px;
}
.pan-india-cen-sec .pan-india-cen-sec-inr .location-div img{
	padding-bottom:30px;	
}
.testimonial-pannal {
	background: url(../images/testimonial-bg.jpg) no-repeat center center;
	background-size: cover;
	padding: 40px 0;
}
.testimonial-pannal .testimonial-pannal-hd h2{
	font-size:36px;	
}
.testimonial-pannal .testimonial-pannal-inr .testimonial-box{
	margin-top:30px;	
}
.testimonial-pannal .testimonial-pannal-inr .owl-theme .owl-nav {
	top: 165px;
}
.cert-pannal .cert-hldr .listing-cert li:first-child{
	margin-left:auto;	
}
.cert-pannal .cert-hldr .listing-cert li {
	margin: 0 10px;
}
.cert-pannal .cert-hldr .listing-cert li img {
	width: 138px;
	height: 138px;
}
.cert-pannal .cert-hldr .listing-cert {
	padding: 25px 0;
	text-align: center;
}
.cert-pannal .cert-hldr h3 {
	text-align: center;
}
.ft-top .newslatter-div {
	padding-left: 0;
}
.ft-bot .copyright-pan-lft p {
	font-size: 13px;
	line-height: 24px;
	padding-bottom:20px;
	text-align:center;
}
.ft-top .ft-link-listing{
	padding-bottom:25px;	
}
.ft-top .chat-icon {
	left: 85%;
	top: 93%;
}
}

@media only screen and (max-width: 479px) {
.top-header{
	padding-top:0;	
}
.top-header .logo-hldr{
	justify-content:center;	
}
.top-header .menu-hldr{
	padding:0;
}
.top-header .cont-listing{
	text-align:center;	
	padding:10px 0;
}
.top-header .cont-listing li{
	padding:0 12.5px;	
}
.top-header nav.navbar{
	text-align:center;	
}
.top-header .logo-hldr-mob{
	
}
.top-header .logo-hldr-mob a img{
	width:200px;
}
.navbar-light .navbar-toggler{
	padding:.2rem .5rem;	
}
.navbar-nav .dropdown-menu{
	float:none;
	width:210px !important;
	margin:0 auto;	
	text-align:center;
}
.top-header .navbar-toggler{
	background: #ff8a00;
}
.top-header .navbar-expand-sm .navbar-nav{
	background: #eee;
	margin-top:5px; 
	padding-top:10px;
	padding-bottom: 10px; 
}
.top-header nav.navbar{
	text-align:center;
	justify-content: space-between;
	padding-bottom:5px;
	padding:0 10px 0 10px;
}
/*--bx slider--*/
.bx-wrapper .bx-pager.bx-default-pager a {
	border-radius: 0;
	width: 44px;
	height: 5px;
}
.bx-wrapper .bx-pager {
	bottom: -35%;
	position: relative;
	z-index: -1;
}
/*--/bx slider--*/
.banner-sec .slider .slider-inr-rgt {
	right: 2.5%;
	width:40%;
}
.banner-sec .slider .slider-inr-lft {
	left: 5%;
	top:10%;
	width: 65%;
}
.banner-sec .slider .slider-inr-lft h5 {
	font-size: 10px;
	line-height: 12px;
	padding: 0 0 7px;
}
.banner-sec .slider .slider-inr-lft h1 {
	font-size: 18px;
	line-height: 16px;
}
.banner-sec .slider .slider-inr-lft h1 span {
	font-size: 28px;
	line-height: 36px;
}
.banner-sec .slider .slider-inr-lft a.free-quote-but {
	padding: 3px 12px;
	font-size: 11px;
	margin-top: 5px;
	position:relative;
	z-index:1;
}
.banner-sec .floating-menu {
	right: -65px;
	top: 18%;
}
.banner-sec .floating-menu a {
	padding: 10px 15px 15px 15px;
	font-size: 15px;
}
.cyber-sequrity-sec-hd h2 {
	font-size: 32px;
	line-height: 40px;
}
.cyber-sequrity-sec {
	padding: 25px 0 15px;
}
.cyber-sequrity-sec .cyber-sec-course-hldr .course-box img{
	width:100%;
}
.cyber-sequrity-sec .cyber-sec-course-hldr .course-box .course-box-inr h3 {
	font-size: 15px;
	line-height: 20px;
	font-weight: 400;
}
.cyber-sequrity-sec .cyber-sec-course-hldr .course-box .course-box-inr{
	top:35%;
}
.cyber-sec-sec{
	padding:0;	
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml {
	padding: 35px 0;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml span {
	font-size: 72px;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml h3{
	font-size:22px;	
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml span.sign {
	top: -5px;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-hldr-hd h2 {
	font-size: 32px;
	line-height: 42px;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-big {
	margin-bottom:30px;
}
.cyber-sequrity-sec .cyber-sec-course-hldr .course-box {
	margin-bottom: 25px;
}
.our-service-sec {
	padding: 75px 0 5px;
}
.our-service-sec .our-service-sec-hd h2{
	font-size:32px;	
}
.our-service-sec .our-service-sec-inr{
	padding:30px 0 0;	
}
.our-service-sec .our-service-sec-inr .service-box{
	padding:0 0 30px;	
}
.our-service-sec .our-service-sec-inr .service-box h3{
	font-size:24px;	
}
.why-choose-section {
	background:url(../images/why-choose-ban.jpg) no-repeat center center;
	background-size:cover;
}
.why-choose-section .why-choose-sec-hd h2 {
	font-size: 32px;
	line-height: 42px;
}
.pan-india-cen-sec .pan-india-cen-sec-hd h2 {
	font-size: 36px;
	line-height: 46px;
}
.pan-india-cen-sec {
	padding: 60px 0 50px;
}
.pan-india-cen-sec .pan-india-cen-sec-inr .add-section {
	padding: 0 0 25px;
}
.pan-india-cen-sec .pan-india-cen-sec-inr .location-div img{
	padding-bottom:30px;	
}
.testimonial-pannal {
	background: url(../images/testimonial-bg.jpg) no-repeat center center;
	background-size: cover;
	padding: 40px 0;
}
.testimonial-pannal .testimonial-pannal-hd h2{
	font-size:36px;	
}
.testimonial-pannal .testimonial-pannal-inr .testimonial-box{
	margin-top:30px;	
}
.testimonial-pannal .testimonial-pannal-inr .owl-theme .owl-nav {
	top: 165px;
}
.cert-pannal .cert-hldr .listing-cert li:first-child{
	margin-left:auto;	
}
.cert-pannal .cert-hldr .listing-cert li {
	margin: 0 5px;
}
.cert-pannal .cert-hldr .listing-cert li img {
	width: 138px;
	height: 138px;
}
.cert-pannal .cert-hldr .listing-cert {
	padding: 25px 0;
	text-align: center;
}
.cert-pannal .cert-hldr h3 {
	text-align: center;
}
.ft-top .newslatter-div {
	padding-left: 0;
}
.ft-bot .copyright-pan-lft p {
	font-size: 13px;
	line-height: 24px;
	padding-bottom:20px;
	text-align:center;
}
.ft-top .ft-link-listing{
	padding-bottom:25px;	
}
.ft-top .chat-icon {
	left: 80%;
	top: 93%;
}

#modal-box .modal-body .close {
	top: -20px;
	right: -10px;
}
#modal-box .modal-body h5{
	font-size:18px;	
}
#modal-box .modal-body h2 {
	font-size: 28px;
	line-height: 32px;
}
#modal-box .modal-dialog .modal-content {
	padding: 30px 20px;
}
}