/**
* Author: PRUDENTIAL INFOTECH LTD.
* Developed By: Rohit
**/
*{	padding:0;
	margin:0;
	border:0;	
	outline:none;
	text-decoration:none;
	list-style:none;
}
body{
	font-size:15px;	
	line-height:22px;
	overflow-x:hidden;
	height:auto;
	font-family: 'Poppins', sans-serif;
}
/*body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
body a:hover{
	text-decoration:none;
}
*/
/*@font-face {
    font-family: 'brush-script-mt';
    src: url('../fonts/brush-script-mt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
.clear{
	clear:both;
	height:auto;	
}
.img-full,.body-div{
	width:100%;	
}
.area-lft{
	float:left;	
}
.area-rgt{
	float:right;	
}
.no-bg{
	background:none !important;	
}
.tooltip{
	font-size:12.5px !important;	
}
.tooltip.bottom{
  padding: 5px 0 5px 0;
  margin-top: 0px !important;
}
.tooltip-inner{
	background:#ff8a00;
	/*background:#000;*/
	color:#fff;
	font-size:14px;
}
.bs-tooltip-top .arrow::before,.bs-tooltip-auto[x-placement^="top"] .arrow::before{
	border-top-color:#ff8a00;
	/*border-top-color:#90191D;*/	
}
.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before{
	/*border-bottom-color: #000;*/
}

/*---------------main css---------------*/
.top-header{
	padding:10px 0 5px;
}
.top-header .logo-hldr{
	padding: 0 0 0 60px;
}
.top-header .cont-listing{
	text-align:right;
}
.top-header .cont-listing li{
	display:inline-block;
	padding:0 15px;
}
.top-header .cont-listing li i{
	padding-right:10px;
}
.top-header .cont-listing li a{
	font-weight:300;
	font-size:14px;
	color:#010a27;
}
.top-header .menu-hldr{	
	padding:0 60px 0;
}

/*-----/Navigation/-----*/
.top-header .navbar-expand-sm .navbar-collapse{

}
.top-header nav.navbar{
	padding:.5rem .25rem 0;	
}
.top-header .navbar-expand-sm .navbar-nav .nav-item{
	padding:0px 7px;
}
.top-header .navbar-expand-sm .navbar-nav .nav-item .nav-link{
	font-size:16px;
	line-height:24px;
	color:#1a394c;
	font-weight:500;	
	text-transform:uppercase;
}
.top-header .navbar-expand-sm .navbar-nav .nav-item:hover .nav-link,
.top-header .navbar-expand-sm .navbar-nav .nav-item.active a{
	color:#ff6c00;
}
.top-header .navbar-expand-sm .navbar-nav{
	padding-top:5px;
	padding-bottom: 5px; 
}
.dropdown:hover>.dropdown-menu {
	display: block;
}
.dropdown-menu {
	border-radius: 0;
}
.navbar-light .navbar-toggler{
	color: #fff;
	border-color: #fff;
	border-radius: 0;
	padding: .3rem .75rem;
}
.navbar-light .navbar-toggler-icon{
	
}
/*--/bootstrap4 edit for dropdown--*/
.dropdown-menu {
	background: #00c0ff;
	/*float: left !important;*/
	width: auto !important;
	/*border: 1px solid #666 !important;*/
	border:0;
	left: 0;
	margin-top:0px;
	padding: 0px 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.dropdown-item {
	display: block;
	width: 100%;
	padding: .35rem .75rem;
	clear: both;
	font-weight: 400;
	color: #212529;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
}
header .dropdown-item {
	padding: .35rem .5rem;
	color: #fff;
	font-size:14px;
	font-weight:400;
}
header .dropdown-item:focus, 
header .dropdown-item:hover {
	color: #fff;
	text-decoration: none;
	background-color: #FF8A00;
}

.dropdown-menu ul{
	width:100%;	
}
.dropdown-menu ul li a{
	text-align:center !important;
}
.dropdown-menu > ul li a {
	padding: 6px 12px !important;
	font-size: 13px !important;
	border-radius: 0;
	text-align: left !important;
	color: #fff !important;
	width: 100%;
	display: block !important;
}
.dropdown-menu > ul li a:hover, 
.dropdown-menu > ul li a:focus {
	background: #000 !important;
	color: #fff !important;
	display: block !important;
}
.dropdown-menu > ul li a:hover:before {
	display: none;
}
/*---//hembarger menu//---*/
.navbar .navbar-toggler .icon-bar {
	width: 25px;
	height: 2px;
	margin: 5px 0;
	background-color: #fff;
	display: block;
	position: relative;
	-webkit-transition: all 0.4s linear;
	transition: all 0.4s linear;
}
.navbar .navbar-toggler.active .icon-bar:nth-of-type(1) {
	-webkit-transform: rotate(46deg);
	transform: rotate(46deg);
	top: 7px;
}
.navbar .navbar-toggler.active .icon-bar:nth-of-type(2) {
	opacity: 0;
}
.navbar .navbar-toggler.active .icon-bar:nth-of-type(3) {
	-webkit-transform: rotate(134deg);
	transform: rotate(134deg);
	top: -7px;
}
/*---//hembarger menu//---*/

/*-----//Navigation/-----*/
/*--bx slider edit--*/
.bx-wrapper .bx-pager {
	bottom: -7.5%;
	position: absolute;
	left: 50%;
	width: 100%;
	transform: translate(-50%,-50%);
	display: inline-block;
	/* transform: rotate(90deg); */
	height: auto;
	z-index: 9;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    border-radius: 0;
    width: 64px;
    height: 9px;
}
.bx-wrapper .bx-pager.bx-default-pager a{
	background:#b2c7d4 !important;	
}
.bx-wrapper .bx-pager.bx-default-pager a:hover{
    background: #b2c7d4; 
}
.bx-wrapper .bx-pager.bx-default-pager a.active{
	background:#dc8424 !important;
}
.bx-pager-item a{
	margin:0 2px !important;	
}
/*--/bx slider edit--*/

.banner-sec{
	position: relative;
}
.banner-sec .slider{

}
.banner-sec .slider .slider-inr-lft{
	position: absolute;
	top: 30%;
	left:15%;
	z-index: 1;
	width:35%;
	margin:0 auto;
	float:left;
}
.banner-sec .slider .slider-inr-lft h5{
	color: #fff;
	font-size: 24px;
	line-height:32px;
	font-weight: 400;
	padding:0 0 15px;
}
.banner-sec .slider .slider-inr-lft h1{
	font-size:62px;
	color:#fff;
	text-transform:uppercase;
	line-height:72px;
	font-weight:700;
}
.banner-sec .slider .slider-inr-lft h1 span{
	display:block;
	font-size:95px;
	line-height:75px;
}
.banner-sec .slider .slider-inr-lft a.free-quote-but{
	background:#065bcf;	
	padding:24px 30px;
	border-radius:50px;
	color:#fff;
	text-decoration:none;
	font-size:23px;
	font-weight:700;
	text-transform:uppercase;
	display:inline-block;
	margin-top:35px;
	transition:0.5s all;
}
.banner-sec .slider .slider-inr-lft a.free-quote-but span{
	color:#ffe401;
}
.banner-sec .slider .slider-inr-lft a.free-quote-but:hover{
	background:#ff8a00;
	color:#fff;
}
.banner-sec .slider .slider-inr-lft a.free-quote-but:hover span{
	color:#222;
}
.banner-sec .slider .slider-inr-rgt {
	position: absolute;
	top: 10%;
	right: -10.5%;
	z-index: 1;
	width: 65%;
	margin: 0 auto;
	float: right;
}
.banner-sec .floating-menu {
	position: fixed;
	right: -90px;
	top: 50%;
	transform: rotate(-90deg);
	z-index:9;
}
.banner-sec .floating-menu a{
	background:#ff8a00;
	padding:15px 30px 25px 30px;
	color:#fff;
	text-transform:uppercase;	
	font-family: 'Fjalla One', sans-serif;
	text-decoration:none;
	transition:0.5s all;
	border-radius:10px 10px 0 0;
	font-size:20px;
	display:block;
}
.banner-sec .floating-menu a:hover{
	background:#065bcf;
}


.cyber-sequrity-sec{
	padding:90px 0 50px;
}
.cyber-sequrity-sec-hd{
	
}
.cyber-sequrity-sec-hd h2{
	font-size:44px;
	line-height:52px;
	color:#00171f;
	font-weight:700;
	text-align:center;
	text-transform:uppercase;
}
.cyber-sequrity-sec .cyber-sec-course-hldr{
	padding:40px 0 20px;	
}
.cyber-sequrity-sec .cyber-sec-course-hldr .course-box{
	position:relative;
	margin-bottom:30px;
}
.cyber-sequrity-sec .cyber-sec-course-hldr .course-box img{
	width:100%;
}
.cyber-sequrity-sec .cyber-sec-course-hldr .course-box .course-box-inr {
	position: absolute;
	width: 100%;
	left: 0;
	top: 70%;
	background: rgba(0,0,0,.6);
	padding: 10px;
	min-height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.cyber-sequrity-sec .cyber-sec-course-hldr .course-box .course-box-inr h3 {
	font-size: 23px;
	line-height: 32px;
	font-weight: 600;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}

.cyber-sec-sec{
	background:url(../images/cyber-sec-bg.jpg) no-repeat center top;
	background-size:cover;
	padding:0 0 50px 0;
}
.cyber-sec-sec .cyber-sec-hldr-inr{
	padding:50px 0 30px;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-hldr-hd{
	padding:0 0 25px 0;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-hldr-hd h2{
	color:#fff;
	font-size:44px;
	line-height:52px;
	font-weight:700;	
	text-align:center;
	text-transform:uppercase;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-big{
	background:#fff;
	padding:15px;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml{
	background:#fff;
	border:1px solid #438ab3;	
	text-align:center;
	padding:50px 0;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml img{
	margin:0 auto;
	display:block;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml span{
	display: inline-block;
	font-family: 'Abel', sans-serif;
	font-size: 84px;
	line-height: 94px;
	font-weight: 500;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml span.sign{
	padding-right:5px;	
	position:relative;
	top:-10px;
	font-size:52px;
	line-height:60px;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml h3{
	font-size:24px;
	font-weight:700;
}

.our-service-sec{
	padding:90px 0 25px;
}
.our-service-sec .our-service-sec-hd{
	text-align:center;
}
.our-service-sec .our-service-sec-hd h2{
	font-size:44px;
	color:#00171f;
	text-transform:uppercase;
	font-weight:700;	
}
.our-service-sec .our-service-sec-inr{
	padding:40px 0 0;	
}
.our-service-sec .our-service-sec-inr .service-box{
	padding:0 0 40px;	
}
.our-service-sec .our-service-sec-inr .service-box h3{
	font-size:27px;
	line-height:32px;
	padding-bottom:15px;
	font-weight:600;
	color:#0e4da4;
	text-align:center;
}
.our-service-sec .our-service-sec-inr .service-box p{
	font-size:16px;
	line-height:26px;
	text-align:justify;
	text-align:center;
	font-weight:400;
	color:#00171f;
}
.our-service-sec .our-service-sec-inr .service-box .read-mr-div{
	margin:30px 0;
	text-align:center;
}
.our-service-sec .our-service-sec-inr .service-box .read-mr-div a{
	padding:15px 40px;
	color:#fff;
	background:#0e62d6;
	font-size:16px;
	font-weight:500;
	border-radius:50px;
	text-decoration:none;
	overflow:hidden;
}

/* Bounce To Right */
.hvr-bounce-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius:50px;
}
.hvr-bounce-to-right:hover, 
.hvr-bounce-to-right:focus, 
.hvr-bounce-to-right:active {
  color: white;
}
.hvr-bounce-to-right:hover:before, 
.hvr-bounce-to-right:focus:before, 
.hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.hvr-bounce-to-right-ft {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-right-ft:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ff8a00;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius:50px;
}
.hvr-bounce-to-right-ft:hover, 
.hvr-bounce-to-right-ft:focus, 
.hvr-bounce-to-right-ft:active {
  color: white;
}
.hvr-bounce-to-right-ft:hover:before, 
.hvr-bounce-to-right-ft:focus:before, 
.hvr-bounce-to-right-ft:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.hvr-bounce-to-right-mod {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-right-mod:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ff8a00;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius:10px;
}
.hvr-bounce-to-right-mod:hover, 
.hvr-bounce-to-right-mod:focus, 
.hvr-bounce-to-right-mod:active {
  color: white;
}
.hvr-bounce-to-right-mod:hover:before, 
.hvr-bounce-to-right-mod:focus:before, 
.hvr-bounce-to-right-mod:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
/* Bounce To Right */

.why-choose-section{
	background:url(../images/why-choose-ban.jpg) no-repeat left top;
	background-size:cover;
	padding:85px 0 80px;	
}
.why-choose-section .why-choose-sec-hd{
		
}
.why-choose-section .why-choose-sec-hd h2{
	color:#fff;
	font-weight:700;
	font-size:44px;
	line-height:52px;
	text-transform:uppercase;
	text-align:center;
}
.why-choose-section .why-choose-sec-inr{
	padding:15px 0
}
.why-choose-section .why-choose-sec-inr p{
	font-size:16px;
	line-height:26px;
	color:#fff;
	text-align:center;
}

.pan-india-cen-sec{
	padding:80px 0 70px;	
}
.pan-india-cen-sec .pan-india-cen-sec-hd{
	text-align:center;
}
.pan-india-cen-sec .pan-india-cen-sec-hd h2{
	font-size:44px;
	line-height:54px;
	font-weight:700;
	text-transform:uppercase;
	color:#00171f;	
}
.pan-india-cen-sec .pan-india-cen-sec-inr{
	padding:50px 0 0;
}
.pan-india-cen-sec .pan-india-cen-sec-inr .add-section{
	padding:0 0 50px;
}
.pan-india-cen-sec .pan-india-cen-sec-inr .add-section h6{
	font-size:16px;
	font-weight:600;
	padding:0 0 10px;
	color:#00171f;
}
.pan-india-cen-sec .pan-india-cen-sec-inr .add-section p{
	font-size:15.5px;
	font-weight:400;
	padding:0 0 3px;
	color:#00171f;
}
.pan-india-cen-sec .pan-india-cen-sec-inr .add-section p a{
	text-decoration:none;
	color:#000;
}
.pan-india-cen-sec .pan-india-cen-sec-inr .location-div{
	display:block;
	margin:0 auto;	
}

.testimonial-pannal{
	background:url(../images/testimonial-bg.jpg) no-repeat center center;
	background-size:cover;
	padding:60px 0;	
}
.testimonial-pannal .testimonial-pannal-hd{
	padding:0 0 30px;
}
.testimonial-pannal .testimonial-pannal-hd h2{
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	color:#fff;
	font-size:44px;
}
.testimonial-pannal .testimonial-pannal-inr{
	padding:15px 0;	
}
.testimonial-pannal .testimonial-pannal-inr .video-box{
	background:#fff;
}
.testimonial-pannal .testimonial-pannal-inr .video-box h3 {
	padding: 20px 0 20px;
	text-align: center;
	font-size: 27px;
	line-height: 36px;
	font-weight: 500;
	color: #0e4da4;
}
.testimonial-pannal .testimonial-pannal-inr .video-box .video-hldr{
	padding: 0 15px 10px 15px;	
}

.testimonial-pannal .testimonial-pannal-inr .testimonial-box{
	background:#fff;
	padding:30px;	
}
.testimonial-pannal .testimonial-pannal-inr .testimonial-box h3{
	font-size:27px;
	line-height:34px;
	color:#0e4da4;
	text-align:center;
}
.testimonial-pannal .testimonial-pannal-inr .testimonial-box .client-img-div{
	padding:15px 0 25px;
}
.testimonial-pannal .testimonial-pannal-inr .testimonial-box .client-img-div img{
	display:block;
	margin:0 auto;	
	border-radius:100%;
	width:auto;
}
.testimonial-pannal .testimonial-pannal-inr .testimonial-box .client-img-div p{
	font-size:16px;
	line-height:26px;
	padding:20px 0 25px;
	width:90%;
	margin:0 auto;
	text-align:center;
}
.testimonial-pannal .testimonial-pannal-inr .testimonial-box .client-img-div p i{
	padding-right:10px;
	padding-left:10px;
}
.testimonial-pannal .testimonial-pannal-inr .testimonial-box .client-img-div span{
	font-family: 'Pacifico', cursive;
	font-size:26px;
	line-height:34px;
	color:#00171f;
	display:block;
	text-align:center;
}

/*--owl carasual start--*/
.testimonial-pannal .testimonial-pannal-inr .owl-theme .owl-nav {
	margin-top: 10px;
	position: absolute;
	top: 135px;
	width: 100%;
	text-align: right;
}
.testimonial-pannal .testimonial-pannal-inr .owl-nav button.owl-next {
	position: absolute;
	right: 7.5%;
}
.testimonial-pannal .testimonial-pannal-inr .owl-nav button.owl-prev {
	position: absolute;
	left: 7.5%;
}
.testimonial-pannal .testimonial-pannal-inr .owl-nav button.owl-next i,
.testimonial-pannal .testimonial-pannal-inr .owl-nav button.owl-prev i {
	font-size: 32px;
	color: #7f7f7f;
}
.testimonial-pannal .testimonial-pannal-inr .owl-theme .owl-nav [class*=owl-]:hover {
	background: transparent;
	color: #0a95fa;
	text-decoration: none;
}
.testimonial-pannal .testimonial-pannal-inr .owl-theme .owl-nav [class*="owl-"]{
	margin-left: 10px;
	margin-right: 5px;
}
/*--/owl carasual end--*/

.cert-pannal{
	padding:60px 0 50px;
}
.cert-pannal .cert-hldr{
	
}
.cert-pannal .cert-hldr h3{
	font-size:27px;
	line-height:36px;
	color:#0e4da4;
}
.cert-pannal .cert-hldr .listing-cert{
	padding:25px 0;
}
.cert-pannal .cert-hldr .listing-cert li{
	display:inline-block;
	margin:0 16px;
}
.cert-pannal .cert-hldr .listing-cert li:first-child{
	margin-left:0;
}
.cert-pannal .cert-hldr .listing-cert li img{
	border:1px solid #6d7681;
	width:150px;
	height:150px;
	padding:10px;
}
/*---------------/main css---------------*/


/*--footer start here--*/
.ft-top{
	background:#010823;
	padding:80px 0;	
	position:relative;
}
.ft-top .chat-icon{
	position:absolute;
	top:30%;
	left:35px;	
	background:#639506;
	width:56px;
	height:56px;
	border-radius:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}
.ft-top .chat-icon img{
	width:32px;
	height:32px;
}
.ft-top .ft-list-hldr{
		
}
.ft-top .ft-list-hldr h3{
	font-size:20px;
	line-height:30px;
	color:#2372de;
	font-weight:600;
	padding:0 0 20px;
}
.ft-top .ft-link-listing{
	
}
.ft-top .ft-link-listing li{
	padding:7px 0;
}

.ft-top .ft-link-listing li a{
	font-size:16px;
	line-height:24px;
	color:#fff;
	text-transform:capitalize;
	text-decoration:none;
	transition:0.5s all;
	position:relative;
	padding-left:20px;
	display:inline-block;
	font-weight:500;
}
.ft-top .ft-link-listing li a:before{
	position:absolute;
	content:"\f105";
	color:#fff;
	left:0;
	font-family: FontAwesome;
}
.ft-top .ft-link-listing li a:hover:before{
	color:#2372de;
}
.ft-top .ft-link-listing li a:hover{
	color:#2372de;
	padding-left:15px;
}
.ft-top .newslatter-div{
	padding-left:40px;
}
.ft-top .newslatter-div form .form-group input{
	background:#fff;
	min-height:50px;
	border-radius:15px;
	color:#888;
}
.ft-top .newslatter-div form .form-group input:hover{
	color:#888 !important;
}
.ft-top .newslatter-div form .form-group input.form-control-cus::-moz-placeholder,
.ft-top .newslatter-div form .form-group input.form-control-cus::-webkit-input-placeholder{
	color:rgba(0,23,31,0.5) !important;	
	font-size:16px;
	font-weight:400;
}
.ft-top .newslatter-div .subs-but{
	padding:14px 0;
	width:100%;
	color:#fff;
	font-size:16px;
	line-height:24px;
	font-weight:500;
	background:#065bcf;
	display:block;	
	border-radius:50px;
	overflow:hidden;
	letter-spacing:.5px;
}

.ft-bot{
	padding:20px 0;	
	background:#065bcf;
}
.ft-bot .copyright-pan-lft{
		
}
.ft-bot .copyright-pan-lft p {
	color: #fff;
	font-size: 17px;
	line-height: 28px;
	font-weight: 300;
}
.ft-bot .copyright-pan-lft p a{
	color:#fff;
	text-decoration:none;
}
.ft-bot .copyright-pan-rgt{
		
}
.ft-bot .copyright-pan-rgt .social-listing{
		
}
.ft-bot .copyright-pan-rgt .social-listing li{
	padding:0 1px;
	display:inline-flex;	
}
.ft-bot .copyright-pan-rgt .social-listing li a{
	width:38px;
	height:38px;
	border:1px solid #fff;
	border-radius:5px;
	text-align:center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ft-bot .copyright-pan-rgt .social-listing li a.fb{
	background:#3b5998;
}
.ft-bot .copyright-pan-rgt .social-listing li a.in{
	background:#0077b5;
}
.ft-bot .copyright-pan-rgt .social-listing li a.youtube{
	background:#cd201f;
}
.ft-bot .copyright-pan-rgt .social-listing li a.whatsup{
	background:#25d366;
}
.ft-bot .copyright-pan-rgt .social-listing li a.instagram{
	background:#262626;
}
.ft-bot .copyright-pan-rgt .social-listing li a.twitter{
	background:#1da1f2;
}
/*--/footer start here--*/

#modal-box{
	
}
#modal-box #exampleModal{
	background:rgba(0,0,0,.7);
}
#modal-box .modal-dialog .modal-content{
	padding:35px 35px;	
	border-radius:25px;	
}
#modal-box .modal-body{
	padding:0 0 15px;	
}
#modal-box .modal-body h5{
	font-size:24px;
	line-height:32px;
	font-weight:500;
	color:#2372de;
}
#modal-box .modal-body h2{
	font-size:40px;
	text-transform:uppercase;
	line-height:52px;
	font-weight:700;
}
#modal-box .modal-body h2 span{
	color:#ff6c00;
}
#modal-box .modal-body .close {
	opacity: 0.9;
	position: relative;
	top: -24px;
	right: -24px;
}
#modal-box .modal-content form .form-group{
		
}
#modal-box .modal-content form .form-group input{
	min-height:52px;
	border-radius:10px;
	font-weight:400;
	font-size:14px;
	border:1px solid #888;
}
#modal-box .modal-content form .form-group select{
	min-height:52px;
	border-radius:10px;
	font-size:14px;
	border:1px solid #888;
	appearance: none;
	background:url(../images/down-arrow.png) no-repeat 97% center;
	font-weight:400;
}
#modal-box .modal-content form .form-group select:focus{
	box-shadow:0 0 0 .2rem rgba(0,0,0,.15);
	border-color:#000;
}
#modal-box .modal-content form .form-group select:focus{
	
}
#modal-box .modal-content form .form-group textarea{
	border-radius:10px;
	font-weight:400;
	font-size:14px;
	border:1px solid #888;
}
#modal-box .modal-content form .form-group input::-moz-placeholder,
#modal-box .modal-content form .form-group input::-webkit-input-placeholder,
#modal-box .modal-content form .form-group textarea::-moz-placeholder,
#modal-box .modal-content form .form-group textarea::-webkit-input-placeholder{
	color:#777 !important;	
	font-weight:400 !important;
}
#modal-box .modal-content form .form-group input:focus{
	box-shadow:0 0 0 .2rem rgba(0,0,0,.09);
	border-color:#000;
}
#modal-box .modal-content form .submit-but button{ 
	text-transform:uppercase;
	background:#065bcf;
	width:100%;
	color:#fff;
	padding:17px 0;
	border-radius:10px;
	font-size:20px;
	font-weight:500;
	overflow:hidden;
}

/*==============To top css==============*/
#back-top {
	position: fixed;
	bottom: 20px;
	right:25px;
	z-index:99;
}
#back-top a {
	width: 48px;
	height:48px;
	display:block;
	background:url(../images/top.png) no-repeat left;
}
#back-top a:hover {
	background:url(../images/top2.png) no-repeat left;
}
/*==============To top css end==============*/

/*--css3 zoom in effect--*/
.image-box{
	overflow:hidden;
	cursor:pointer;
	border:5px solid #202c45;
}
.image-box:hover .image {
	-webkit-transform:scale(1.2);
	transform:scale(1.2);
}
.image{
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
}
.image-zoom{
	-moz-transition: all 0.7s ease;
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
	cursor:pointer;
}
.image-zoom:hover{
	-moz-transform:scale(1.1);
	-webkit-transform:scale(1.1);
	transform:scale(1.1);	
}
/*--/css3 zoom in effect end--*/


/*--css3 circle hover effect--*/
.circle {
   width: auto;
   -webkit-transition: -webkit-transform .8s ease-in-out;
   transition: transform .8s ease-in-out;
   cursor:pointer;
}
.circle:hover {
   -webkit-transform: rotate(360deg);
   transform: rotate(360deg);
}
/*--/css3 circle hover effect--*/


/*--placeholder default colour change--*/
::-webkit-input-placeholder{
	color:#999 !important;
	font-weight:300;
	font-size:14px;
}
::-moz-placeholder{
	color:#999 !important;
	font-weight:300;
	font-size:14px;
}
::-ms-input-placeholder{
	color:#999 !important;
	font-weight:300;
	font-size:14px;
}
/*--/placeholder default colour change--*/


/*--input type number hide in HTML5 chrome and firefox browser--*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
}
/*--/input type number hide in HTML5 chrome and firefox browser--*/