/**
* Author: PRUDENTIAL INFOTECH LTD.
* Developed By: Rohit
**/
*{	padding:0;
	margin:0;
	border:0;	
	outline:none;
	text-decoration:none;
	list-style:none;
}
body{
	font-size:15px;	
	line-height:22px;
	overflow-x:hidden;
	height:auto;
	font-family: 'Poppins', sans-serif;
}
/*body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
body a:hover{
	text-decoration:none;
}
*/
/*@font-face {
    font-family: 'brush-script-mt';
    src: url('../fonts/brush-script-mt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}*/
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
.clear{
	clear:both;
	height:auto;	
}
.img-full,.body-div{
	width:100%;	
}
.area-lft{
	float:left;	
}
.area-rgt{
	float:right;	
}
.no-bg{
	background:none !important;	
}
.tooltip{
	font-size:12.5px !important;	
}
.tooltip.bottom{
  padding: 5px 0 5px 0;
  margin-top: 0px !important;
}
.tooltip-inner{
	background:#ff8a00;
	/*background:#000;*/
	color:#fff;
	font-size:14px;
}
.bs-tooltip-top .arrow::before,.bs-tooltip-auto[x-placement^="top"] .arrow::before{
	border-top-color:#ff8a00;
	/*border-top-color:#90191D;*/	
}
.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before{
	/*border-bottom-color: #000;*/
}

/*---------------main css---------------*/
.top-header{
	padding:10px 0 5px;
}
.top-header .logo-hldr{
	padding: 0 0 0 60px;
}
.top-header .cont-listing{
	text-align:right;
}
.top-header .cont-listing li{
	display:inline-block;
	padding:0 15px;
}
.top-header .cont-listing li i{
	padding-right:10px;
}
.top-header .cont-listing li a{
	font-weight:300;
	font-size:14px;
	color:#010a27;
}
.top-header .menu-hldr{	
	padding:0 60px 0;
}

/*-----/Navigation/-----*/
.top-header .navbar-expand-md .navbar-collapse{

}
.top-header nav.navbar{
	padding:.5rem .25rem 0;	
}
.top-header .navbar-expand-md .navbar-nav .nav-item{
	padding:0px 7px;
}
.top-header .navbar-expand-md .navbar-nav .nav-item .nav-link{
	font-size:16px !important;
	line-height:24px !important;
	color:#1a394c;
	font-weight:500;	
	text-transform:uppercase;
}

.top-header .navbar-expand-md .navbar-nav .nav-item:hover .nav-link,
.top-header .navbar-expand-md .navbar-nav .nav-item.active a{
	color:#ff6c00;
}
.top-header .navbar-expand-md .navbar-nav{
	padding-top:5px;
	padding-bottom: 5px; 
}
.dropdown:hover>.dropdown-menu {
	display: block;
}
.dropdown-menu {
	border-radius: 0;
}
.navbar-light .navbar-toggler{
	color: #fff;
	border-color: #fff;
	border-radius: 0;
	padding: .3rem .75rem;
}
.navbar-light .navbar-toggler-icon{
	
}
/*--/bootstrap4 edit for dropdown--*/
.dropdown-menu {
	background: #1063ff;
	/*float: left !important;*/
	width: auto !important;
	/*border: 1px solid #666 !important;*/
	border:0;
	left: 0;
	margin-top:0px;
	padding: 0px 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.dropdown-item {
	display: block;
	width: 100%;
	padding: .35rem .75rem;
	clear: both;
	font-weight: 400;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
	color:#fff !important;
}
header .dropdown-item {
	padding: .35rem .5rem;
	color: #fff;
	font-size:14px;
	font-weight:400;
}
.navbar-expand-sm .navbar-nav .dropdown-menu{
	text-align: left !important;	
}
header .dropdown-item:focus, 
header .dropdown-item:hover {
	color: #fff !important;
	text-decoration:none;
	background-color: #FF8A00;
	text-align:left !important;
}
header .dropdown-item a:hover {
	color: #fff !important;
}

.dropdown-menu ul{
	width:100%;	
}
.dropdown-menu ul li a{
	text-align:left;
}
.dropdown-menu > ul li a {
	padding: 6px 12px !important;
	font-size: 13px !important;
	border-radius: 0;
	text-align: left !important;
	color: #fff !important;
	width: 100%;
	display: block !important;
}
.dropdown-menu > ul li a:hover, 
.dropdown-menu > ul li a:focus {
	background: #000 !important;
	color: #fff !important;
	display: block !important;
}
.dropdown-menu > ul li a:hover:before {
	display: none;
}
/*---//hembarger menu//---*/
.navbar .navbar-toggler .icon-bar {
	width: 25px;
	height: 2px;
	margin: 5px 0;
	background-color: #fff;
	display: block;
	position: relative;
	-webkit-transition: all 0.4s linear;
	transition: all 0.4s linear;
}
.navbar .navbar-toggler.active .icon-bar:nth-of-type(1) {
	-webkit-transform: rotate(46deg);
	transform: rotate(46deg);
	top: 7px;
}
.navbar .navbar-toggler.active .icon-bar:nth-of-type(2) {
	opacity: 0;
}
.navbar .navbar-toggler.active .icon-bar:nth-of-type(3) {
	-webkit-transform: rotate(134deg);
	transform: rotate(134deg);
	top: -7px;
}
/*---//hembarger menu//---*/

/*-----//Navigation/-----*/

.banner-sec{
	position: relative;
}
.banner-sec .slider{

}
.banner-sec .slider .slider-inr-lft{
	position: absolute;
	top: 25%;
	left:15%;
	z-index: 1;
	width:37%;
	margin:0 auto;
	float:left;
}
.banner-sec .slider .slider-inr-lft h5{
	color: #fff;
	font-size: 24px;
	line-height:32px;
	font-weight: 400;
	padding:0 0 15px;
}
.banner-sec .slider .slider-inr-lft h1 {
	font-size: 52px;
	color: #fff;
	text-transform: uppercase;
	line-height: 66px;
	font-weight: 700;
}
.banner-sec .slider .slider-inr-lft h1 span{
	display:block;
	font-size:88px;
	line-height:75px;
}
.banner-sec .slider .slider-inr-lft button.free-quote-but{
	background:#065bcf;	
	padding:22px 30px;
	border-radius:50px;
	color:#fff;
	text-decoration:none;
	font-size:23px;
	font-weight:700;
	text-transform:uppercase;
	display:inline-block;
	margin-top:35px;
	transition:0.5s all;
}
.banner-sec .slider .slider-inr-lft button.free-quote-but span{
	color:#ffe401;
}
.banner-sec .slider .slider-inr-lft button.free-quote-but:hover{
	background:#ff8a00;
	color:#fff;
}
.banner-sec .slider .slider-inr-lft button.free-quote-but:hover span{
	color:#222;
}
.banner-sec .slider .slider-inr-rgt {
	position: absolute;
	top: 12%;
	right: -10.5%;
	z-index: 1;
	width: 63%;
	margin: 0 auto;
	float: right;
}
.banner-sec .floating-menu {
	position: fixed;
	right: -100px;
	top: 50%;
	transform: rotate(-90deg);
	z-index:9;
}
.banner-sec .floating-menu a{
	background:#ff8a00;
	padding:15px 30px 25px 30px;
	color:#fff;
	text-transform:uppercase;	
	font-family: 'Fjalla One', sans-serif;
	text-decoration:none;
	transition:0.5s all;
	border-radius:10px 10px 0 0;
	font-size:20px;
	display:block;
}
.banner-sec .floating-menu a:hover{
	background:#065bcf;
}


/*----owl-carousel css edit slider----*/
.banner-sec  .owl-theme .owl-dots .owl-dot span {
	width: 70px;
	height:8px;
	border-radius:0;
}
.banner-sec .owl-theme .owl-nav.disabled + .owl-dots {
	margin-top: 25px;
}
.banner-sec .owl-theme .owl-dots .owl-dot.active span, 
.banner-sec .owl-theme .owl-dots .owl-dot:hover span {
	background: #dc8424;
}
.banner-sec .owl-carousel .owl-item img {
	display: block;
	 width: auto; 
}
/*----/owl-carousel css edit slide----*/


.cyber-sequrity-sec{
	padding:50px 0;
}
.cyber-sequrity-sec-hd{
	
}
.cyber-sequrity-sec-hd h2{
	font-size:44px;
	line-height:52px;
	color:#00171f;
	font-weight:700;
	text-align:center;
	text-transform:uppercase;
}
.cyber-sequrity-sec .cyber-sec-course-hldr{
	padding:40px 0 20px;	
}
.cyber-sequrity-sec .cyber-sec-course-hldr .course-box{
	position:relative;
	margin-bottom:30px;
}
.cyber-sequrity-sec .cyber-sec-course-hldr .course-box img{
	width:100%;
}
.cyber-sequrity-sec .cyber-sec-course-hldr .course-box .course-box-inr {
	position: absolute;
	width: 100%;
	left: 0;
	top: 70%;
	background: rgba(0,0,0,.6);
	padding: 10px;
	min-height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration:none;
}
.cyber-sequrity-sec .cyber-sec-course-hldr .course-box .course-box-inr:hover {
	background:rgba(255,138,0,0.8);	
}
.cyber-sequrity-sec .cyber-sec-course-hldr .course-box .course-box-inr h3 {
	font-size: 23px;
	line-height: 32px;
	font-weight: 600;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}

.cyber-sec-sec{
	background:url(../images/cyber-sec-bg.jpg) no-repeat center top;
	background-size:cover;
	padding:0 0 50px 0;
}
.cyber-sec-sec .cyber-sec-hldr-inr{
	padding:50px 0 30px;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-hldr-hd{
	padding:0 0 25px 0;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-hldr-hd h2{
	color:#fff;
	font-size:44px;
	line-height:52px;
	font-weight:700;	
	text-align:center;
	text-transform:uppercase;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-big{
	background:#fff;
	padding:15px;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml{
	background:#fff;
	border:1px solid #438ab3;	
	text-align:center;
	padding:50px 0;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml img{
	margin:0 auto;
	display:block;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml span{
	display: inline-block;
	font-family: 'Abel', sans-serif;
	font-size: 84px;
	line-height: 94px;
	font-weight: 500;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml span.sign{
	padding-right:5px;	
	position:relative;
	top:-10px;
	font-size:52px;
	line-height:60px;
}
.cyber-sec-sec .cyber-sec-hldr-inr .cyber-sec-box-sml h3{
	font-size:24px;
	font-weight:700;
}

.our-service-sec{
	padding:90px 0 35px;
}
.our-service-sec .our-service-sec-hd{
	text-align:center;
}
.our-service-sec .our-service-sec-hd h2{
	font-size:44px;
	color:#00171f;
	text-transform:uppercase;
	font-weight:700;	
}
.our-service-sec .our-service-sec-inr{
	padding:30px 0 0;	
}
.our-service-sec .our-service-sec-inr .service-box{
	padding: 30px 20px 5px;
	transition: 0.5s all;
	margin-bottom: 15px;
	border-radius: 70px 0;
}
.our-service-sec .our-service-sec-inr .service-box:hover{
	background:#eee;
}
.our-service-sec .our-service-sec-inr .service-box h3{
	font-size:24px;
	line-height:32px;
	padding-bottom:15px;
	font-weight:600;
	color:#0e4da4;
	text-align:center;
}
.our-service-sec .our-service-sec-inr .service-box p{
	font-size:16px;
	line-height:26px;
	text-align:justify;
	text-align:center;
	font-weight:400;
	color:#00171f;
}
.our-service-sec .our-service-sec-inr .service-box .read-mr-div{
	margin:30px 0;
	text-align:center;
}
.our-service-sec .our-service-sec-inr .service-box .read-mr-div a{
	padding:15px 40px;
	color:#fff;
	background:#0e62d6;
	font-size:16px;
	font-weight:500;
	border-radius:50px;
	text-decoration:none;
	overflow:hidden;
}

/* Bounce To Right */
.hvr-bounce-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ff8a00;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius:50px;
}
.hvr-bounce-to-right:hover, 
.hvr-bounce-to-right:focus, 
.hvr-bounce-to-right:active {
  color: white;
}
.hvr-bounce-to-right:hover:before, 
.hvr-bounce-to-right:focus:before, 
.hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.hvr-bounce-to-right-ft {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-right-ft:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ff8a00;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius:50px;
}
.hvr-bounce-to-right-ft:hover, 
.hvr-bounce-to-right-ft:focus, 
.hvr-bounce-to-right-ft:active {
  color: white;
}
.hvr-bounce-to-right-ft:hover:before, 
.hvr-bounce-to-right-ft:focus:before, 
.hvr-bounce-to-right-ft:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.hvr-bounce-to-right-mod {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-right-mod:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ff8a00;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius:10px;
}
.hvr-bounce-to-right-mod:hover, 
.hvr-bounce-to-right-mod:focus, 
.hvr-bounce-to-right-mod:active {
  color: white;
}
.hvr-bounce-to-right-mod:hover:before, 
.hvr-bounce-to-right-mod:focus:before, 
.hvr-bounce-to-right-mod:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
/* Bounce To Right */

.why-choose-section{
	background:url(../images/why-choose-ban.jpg) no-repeat left top;
	background-size:cover;
	padding:85px 0 80px;	
}
.why-choose-section .why-choose-sec-hd{
		
}
.why-choose-section .why-choose-sec-hd h2{
	color:#fff;
	font-weight:700;
	font-size:44px;
	line-height:52px;
	text-transform:uppercase;
	text-align:center;
}
.why-choose-section .why-choose-sec-inr{
	padding:15px 0
}
.why-choose-section .why-choose-sec-inr p{
	font-size:16px;
	line-height:26px;
	color:#fff;
	text-align:center;
}

.pan-india-cen-sec{
	padding:80px 0 70px;	
}
.pan-india-cen-sec .pan-india-cen-sec-hd{
	text-align:center;
}
.pan-india-cen-sec .pan-india-cen-sec-hd h2{
	font-size:44px;
	line-height:54px;
	font-weight:700;
	text-transform:uppercase;
	color:#00171f;	
}
.pan-india-cen-sec .pan-india-cen-sec-inr{
	padding:50px 0 0;
}
.pan-india-cen-sec .pan-india-cen-sec-inr .add-section{
	padding:0 0 50px;
}
.pan-india-cen-sec .pan-india-cen-sec-inr .add-section h6{
	font-size:16px;
	font-weight:600;
	padding:0 0 10px;
	color:#00171f;
}
.pan-india-cen-sec .pan-india-cen-sec-inr .add-section p{
	font-size:15.5px;
	font-weight:400;
	padding:0 0 3px;
	color:#00171f;
}
.pan-india-cen-sec .pan-india-cen-sec-inr .add-section p a{
	text-decoration:none;
	color:#000;
}
.pan-india-cen-sec .pan-india-cen-sec-inr .location-div{
	display:block;
	margin:0 auto;	
}

.testimonial-pannal{
	/*background:url(../images/testimonial-bg.jpg) no-repeat center center;*/
	background:#d4deef;
	background-size:cover;
	padding:60px 0;	
}
.testimonial-pannal .testimonial-pannal-hd{
	padding:0 0 30px;
}
.testimonial-pannal .testimonial-pannal-hd h2{
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	color:#00171f;
	font-size:44px;
}
.testimonial-pannal .testimonial-pannal-inr{
	padding:15px 0;	
}
.testimonial-pannal .testimonial-pannal-inr .video-box{
	background:#fff;
}
.testimonial-pannal .testimonial-pannal-inr .video-box h3 {
	padding: 20px 0 20px;
	text-align: center;
	font-size: 27px;
	line-height: 36px;
	font-weight: 500;
	color: #0e4da4;
}
.testimonial-pannal .testimonial-pannal-inr .video-box .video-hldr{
	padding: 0 15px 10px 15px;	
}

.testimonial-pannal .testimonial-pannal-inr .testimonial-box{
	background:#fff;
	padding:30px;	
}
.testimonial-pannal .testimonial-pannal-inr .testimonial-box h3{
	font-size:27px;
	line-height:34px;
	color:#0e4da4;
	text-align:center;
}
.testimonial-pannal .testimonial-pannal-inr .testimonial-box .client-img-div {
	padding: 15px 0 0;
	min-height: 390px;
}
.testimonial-pannal .testimonial-pannal-inr .testimonial-box .client-img-div img{
	display:block;
	margin:0 auto;	
	border-radius:100%;
	width:auto;
}
.testimonial-pannal .testimonial-pannal-inr .testimonial-box .client-img-div p{
	font-size:15.5px;
	line-height:26px;
	padding:40px 0 25px;
	width:90%;
	margin:0 auto;
	text-align:center;
	position:relative;
}
.testimonial-pannal .testimonial-pannal-inr .testimonial-box .client-img-div p:before{
	position:absolute;
	font-family: "FontAwesome";
	content: "\f10d";
	left:-25px;
}
.testimonial-pannal .testimonial-pannal-inr .testimonial-box .client-img-div p:after{
	position:absolute;
	font-family: "FontAwesome";
	content: "\f10e";
	right:-20px;
}
.testimonial-pannal .testimonial-pannal-inr .testimonial-box .client-img-div p i{
	padding-right:10px;
	padding-left:10px;
}
.testimonial-pannal .testimonial-pannal-inr .testimonial-box .client-img-div span{
	font-family: 'Pacifico', cursive;
	font-size:26px;
	line-height:34px;
	color:#00171f;
	display:block;
	text-align:center;
}

/*--owl carasual start--*/
.testimonial-pannal .testimonial-pannal-inr .owl-theme .owl-nav {
	margin-top: 10px;
	position: absolute;
	top: 135px;
	width: 100%;
	text-align: right;
}
.testimonial-pannal .testimonial-pannal-inr .owl-nav button.owl-next {
	position: absolute;
	right: 7.5%;
}
.testimonial-pannal .testimonial-pannal-inr .owl-nav button.owl-prev {
	position: absolute;
	left: 7.5%;
}
.testimonial-pannal .testimonial-pannal-inr .owl-nav button.owl-next i,
.testimonial-pannal .testimonial-pannal-inr .owl-nav button.owl-prev i {
	font-size: 32px;
	color: #7f7f7f;
}
.testimonial-pannal .testimonial-pannal-inr .owl-theme .owl-nav [class*=owl-]:hover {
	background: transparent;
	color: #0a95fa;
	text-decoration: none;
}
.testimonial-pannal .testimonial-pannal-inr .owl-theme .owl-nav [class*="owl-"]{
	margin-left: 10px;
	margin-right: 5px;
}
/*--/owl carasual end--*/

.cert-pannal{
	padding:60px 0 50px;
}
.cert-pannal .cert-hldr{
	
}
.cert-pannal .cert-hldr h3{
	font-size:27px;
	line-height:36px;
	color:#0e4da4;
}
.cert-pannal .cert-hldr .listing-cert{
	padding:25px 0;
}
.cert-pannal .cert-hldr .listing-cert li{
	display:inline-block;
	margin:0 16px;
}
.cert-pannal .cert-hldr .listing-cert li:first-child{
	margin-left:0;
}
.cert-pannal .cert-hldr .listing-cert li img{
	border:1px solid #6d7681;
	width:150px;
	height:150px;
	padding:10px;
}

/*=====================About us=====================*/
/*--about company page--*/
.about-company-sec{
	padding:80px 0 20px;
}
.about-company-sec .about-company-sec-inr-lft{
	padding:90px 0 0;
}
.about-company-sec .about-company-sec-inr-rgt,
.about-company-sec .about-company-sec-inr{
	
}
.about-company-sec .about-company-sec-inr-rgt h2,
.about-company-sec .about-company-sec-inr h2{
	font-size:28px;
	line-height:38px;
	text-transform:uppercase;
	font-weight:700;
	color:#2055f1;
	padding:0 0 15px;
}
.about-company-sec .about-company-sec-inr-rgt p,
.about-company-sec .about-company-sec-inr p{
	font-size: 16px;
	line-height: 28px;
	padding:0 0 25px;
}

.mission-vission-sec{
	padding:30px 0;
}
.mission-vission-sec .mission-hldr{
	padding: 15px;
	background: #f5f5f5;
	height:100%;
	border-radius:12px;
}
.mission-vission-sec .mission-hldr h3 {
	font-size: 32px;
	line-height: 42px;
	color: #454545;
	background: #eee;
	padding: 10px 15px;
	font-weight: 500;
	margin-bottom:15px;
	border:1px solid #ddd;
	border-radius:12px;
}
.mission-vission-sec .mission-hldr p{
	font-size: 16px;
	line-height:28px;
	padding:0 15px;
}
/*--/about company page--*/


/*--partners company page--*/
.partners-sec{
	padding:20px 0;
}
.partners-sec .partners-hldr{
	padding:60px 0 50px;
}
.partners-sec .partners-hldr li{
	display:inline-block;
	padding:0 10px;
	margin-right:25px;
	border:1px solid #ddd;
}
/*--/partners company page--*/


/*--clients page--*/
.clients-sec{
	padding:20px 0;
}
.clients-sec .clients-hldr{
	padding:60px 0 50px;
	text-align:center;
}
.clients-sec .clients-hldr li{
	display:inline-block;
	margin-right:20px;
	margin-bottom:25px;
	border:1px solid #ddd;
}
.clients-sec .clients-hldr li:last-child{
	margin-right:0;
}
.clients-sec .clients-hldr li img{
	width:220px;
	height:auto;
}
/*--/clients page--*/
/*=====================/About us=====================*/


/*=====================Services=====================*/
.ethical-hacking-sec-inr .training-listing{
	padding:30px 0 20px;
}
.ethical-hacking-sec-inr .training-listing li {
	padding: 5px 0;
	font-size: 16px;
	font-weight: 300;
	position: relative;
	display: flex;
	line-height: 28px;
	margin-left:30px;
}
.ethical-hacking-sec-inr .training-listing li:before{
	position:absolute;
	content: "\f10c";
	left:-30px;
	font-family: FontAwesome;
	color:#2055f1;
}
.ethical-hacking-sec-inr .contact-but-div,
.course-dev-pan .course-develop-sec-inr .contact-but-div{
	padding:10px 0 0 0; 
}
.ethical-hacking-sec-inr .contact-but-div a,
.course-dev-pan .course-develop-sec-inr .contact-but-div a{
	border:1px solid #2055f1;
	padding:12px 25px;
	color:#2055f1;
	font-size:16px;
	line-height:24px;
	font-weight:400;
	background:none;
	text-decoration:none;
	text-transform:uppercase;
}
.ethical-hacking-sec-inr .contact-but-div a:before,
.course-dev-pan .course-develop-sec-inr .contact-but-div a:before{
	border-radius:0;
	background:#2055f1;
	color:#fff;
}
.ethical-hacking-sec-inr .contact-but-div a:hover, 
.ethical-hacking-sec-inr .contact-but-div a:focus, 
.ethical-hacking-sec-inr .contact-but-div a:active,
.course-dev-pan .course-develop-sec-inr .contact-but-div a:hover, 
.course-dev-pan .course-develop-sec-inr .contact-but-div a:focus, 
.course-dev-pan .course-develop-sec-inr .contact-but-div a:active {
  color: #fff;
}
.ethical-hacking-sec.cyber-sec-course,
.ethical-hacking-sec.cyber-sec-ser{
	padding:60px 0 100px;
}
/*=====================/Services=====================*/


/*--skill development--*/
.skill-develop-sec{
	position:relative;
}
.skill-develop-sec img.ban-inr{
	width:100%;
}
.skill-develop-sec .skill-develop-sec-hd {
	position: absolute;
	top:28%;
	width: 85%;
	left: 15%;
}
.skill-develop-sec .skill-develop-sec-hd h1{
	font-size:54px;
	line-height:64px;
	font-weight:700;
	text-transform:uppercase;
	color:#fff;
}
.skill-develop-sec .skill-develop-sec-hd h3{
	color: #fff;
	font-size: 24px;
	line-height: 34px;
	font-weight: 400;
	padding: 5px 0 15px;
	width:55%;
}
.skill-develop-sec .skill-develop-sec-hd h4{
	color: #ffc602;
	font-size: 22px;
	line-height: 28px;
	font-weight: 700;
	padding:15px 0;
	position:relative;
	display:inline-block;
}
.skill-develop-sec .skill-develop-sec-hd h4:before{
	position:absolute;
	content:'';
	width:35px;
	height:4px;
	background:#ffc602;
	right:-50px;
	bottom:20px;
}
.skill-dev-pan .skill-develop-sec-inr{
	padding:50px 0 45px;
}
.skill-dev-pan .skill-develop-sec-inr h1{
	color:#00171f;
	text-transform:uppercase;
	font-size:44px;
	line-height:52px;
	font-weight:700;
}
.skill-dev-pan .skill-develop-sec-inr p{
	font-size:15px;
	line-height:26px;
}

.skill-dev-pan .skl-development-rgt{
		
}
.skill-dev-pan .skl-development-rgt p{
	font-size:15px;
	line-height:26px;
	padding-bottom:15px;
}
.skill-dev-pan .skl-development-rgt .skl-development-lft-part{
	
}
.skill-dev-pan .skl-development-rgt .skl-development-lft-part img{
	width:100%;	
}
.skill-dev-pan .skill-develop-hldr{
	background:#e3f2fa;	
	border:1px solid #1286bc;
	margin:30px 0;
}
.skill-dev-pan .skill-develop-hldr .skill-develop-inr{
	
}
.skill-dev-pan .skill-develop-hldr .skill-develop-inr .skill-develop-inr-lft{
	padding:30px;	
}
.skill-dev-pan .skill-develop-hldr .skill-develop-inr .skill-develop-inr-lft p{
	padding:0 0 25px 0;
	font-size:16px;
	line-height:24px;
}
.skill-dev-pan .skill-develop-hldr .skill-develop-inr .skill-develop-inr-lft .skill-listing{
	
}
.skill-dev-pan .skill-develop-hldr .skill-develop-inr .skill-develop-inr-lft .skill-listing li{
	padding:5px 0;
	font-size:15px;
	line-height:24px;
	font-weight:500;
	color:#00171f;
}
.skill-dev-pan .skill-develop-hldr .skill-develop-inr-rgt{
	
}
.skill-dev-pan .skill-develop-hldr .skill-develop-inr-rgt img{
	object-fit: cover;
	min-height: 480px;
}
.skill-dev-pan .cur-ind-dem-hldr{
		
}
.skill-dev-pan .cur-ind-dem-hldr h2{
	font-size: 27px;
	line-height: 32px;
	font-weight: 500;
	color: #0e4da4;
	padding: 15px 0 15px;
}
.skill-dev-pan .cur-ind-dem-hldr p{
	font-size:16px;
	line-height:26px;
	font-weight:500;
	color:#00171f;	
}
.skill-dev-pan .cur-ind-dem-hldr h3{
	font-size:27px;
	line-height:32px;
	font-weight:500;
	color:#0e4da4;	
	padding:15px 0 15px;
}
.skill-dev-pan .int-met-sec{
	
} 
.skill-dev-pan .int-met-sec h2{
	font-size: 27px;
	line-height: 32px;
	font-weight: 500;
	color: #0e4da4;
	padding: 15px 0 10px;
} 
.skill-dev-pan .int-met-sec h6{
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	color: #00171f;
	padding:0 0 15px;
} 
.skill-dev-pan .int-met-sec .para-hldr{
	padding:0 0 25px 0;
}
.skill-dev-pan .int-met-sec .para-hldr .para-hldr-rgt{
	margin-left:15px;	
}
.skill-dev-pan .int-met-sec .para-hldr .para-hldr-rgt p{
	font-size:16px;
	line-height:26px;
	color:#00171f;
}

.skill-dev-pan .advan-sec{
	background: #e3f2fa;
	border: 1px solid #1286bc;
	margin: 30px 0;
	padding:30px;
}
.skill-dev-pan .advan-sec .adv-listing{
		
}
.skill-dev-pan .advan-sec h3{
	color:#0e4da4;
	font-size:27px;
	line-height:32px;	
	font-weight:500;
	padding-bottom:20px;
}
.skill-dev-pan .advan-sec .col-lg-6 .adv-listing{
	
}
.skill-dev-pan .advan-sec .col-lg-6 .adv-listing li{
	font-size:15.5px;
	line-height:24px;
	color:#00171f;
	font-weight:500;	
	padding:8px 0 8px 22px;
	position:relative;
}
.skill-dev-pan .advan-sec .col-lg-6 .adv-listing li:before{
	position:absolute;
	content:'';
	top:16px;
	left:0px;
	width:10px;
	height:10px;
	border-radius:50px;
	background:#0e4da4;
}
.skill-dev-pan .advan-sec .col-lg-6 p{
	font-size:15.5px;
	line-height:24px;
	color:#00171f;
	font-weight:400;	
}
.skill-dev-pan .advan-sec .col-lg-6 .adv-listing-rgt{
	padding:15px 0;
}
.skill-dev-pan .advan-sec .col-lg-6 .adv-listing-rgt li{
	font-size:15.5px;
	line-height:24px;
	color:#00171f;
	font-weight:500;	
	padding:4px 0;
}
.skill-dev-pan .advan-sec .col-lg-6 .adv-listing-rgt li span{
	padding-right:15px;
}

.skill-dev-pan .placement-hldr{
	padding:15px 0;	
}
.skill-dev-pan .placement-hldr .placement-hldr-lft{
	
}
.skill-dev-pan .placement-hldr .placement-hldr-lft img{
	width:100%;
}
.skill-dev-pan .placement-hldr .placement-sec-rgt{
	
}
.skill-dev-pan .placement-hldr .placement-sec-rgt h3{
	color:#0e4da4;
	font-size:27px;
	line-height:34px;
	font-weight:500;
	padding:0 0 15px;
}
.skill-dev-pan .placement-hldr .placement-sec-rgt p{
	font-size:16px;
	line-height:24px;	
	color:#00171f;
	font-weight:400;
	padding:0 0 15px;
}
.skill-dev-pan .post-placement-ass-hldr{
	padding:40px 0 0;
}
.skill-dev-pan .post-placement-ass-hldr h3{
	color:#0e4da4;
	font-size:27px;
	line-height:32px;	
	font-weight:500;
	padding-bottom:20px;
}
.skill-dev-pan .post-placement-ass-hldr p{
	font-size:16px;
	line-height:26px;
	color:#00171f;
	padding:0 0 30px;
}
/*--/skill development--*/


/*=====================Courses=====================*/
/*--course development pages--*/
.course-dev-pan{
	padding:50px 0 30px;	
}
.course-dev-pan .course-develop-sec-inr{
	padding:15px 0px;
}
.course-dev-pan .course-develop-sec-inr h1{
	color:#2055f1;
	text-transform:uppercase;
	font-size:32px;
	line-height:44px;
	font-weight:600;
	padding:0 0 15px;
}
.course-dev-pan .course-develop-sec-inr h2{
	color:#2055f1;
	text-transform:uppercase;
	font-size:28px;
	line-height:36px;
	font-weight:600;
	padding:0 0 15px;
}
.course-dev-pan .course-develop-sec-inr h3{
	color:#02629c;
	text-transform:uppercase;
	font-size:28px;
	line-height:36px;
	font-weight:600;
	padding:0 0 15px;
}
.course-dev-pan .course-develop-sec-inr p{
	font-size:16px;
	line-height:30px;
	padding-bottom:15px;
}
.course-dev-pan .course-develop-sec-inr h2.course-mod {
	font-size: 42px;
	line-height: 54px;
	color: #444;
	text-transform: uppercase;
	background: #f6f8ff;
	padding: 8px 20px;
	margin: 30px 0 10px;
}

/*--ethical hacking page--*/
.ethical-hacking-sec{
	padding:30px 0;
}
.ethical-hacking-sec .ethical-hacking-sec-inr{
	padding:50px 0 0;
}
.ethical-hacking-sec .ethical-hacking-sec-inr h2{
	font-size: 28px;
	line-height: 38px;
	text-transform: uppercase;
	font-weight: 700;
	color: #2055f1;
	padding: 0 0 15px;
	position:relative;
}
.ethical-hacking-sec .ethical-hacking-sec-inr h2:before{
	width:50px;
	height:4px;
	background:#2055f1;
	position:absolute;
	content:'';
	bottom:2px;
}
.ethical-hacking-sec .ethical-hacking-sec-inr p{
	font-size: 18px;
	line-height: 32px;
	padding:40px 0 0;
}
.carrer-graph-sec{
	padding:80px 0 20px;	
}
.carrer-graph-sec .carrer-graph-sec-inr{
		
}
.carrer-graph-sec .carrer-graph-sec-inr h2 {
	font-size: 42px;
	line-height: 50px;
	color: #02629c;
	font-weight: 600;
	text-align: center;
	background: #f9f9f9;
	padding: 12px 0;
}
/*--/ethical hacking page--*/


/*--accordion pannal section--*/
.accordion {

}
.accordion__item,
.accordion__item-2 {
	margin-bottom: 30px;
}
.accordion__title-2 {
	color:#2055f1;
	font-size:14px;
	padding:15px;
	display: flex;
	justify-content: space-between;
	font-weight: 600;
	border:1px solid #2055f1;
}
.accordion__title {
	color:#2055f1;
	font-size:14px;
	padding:15px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	font-weight: 600;
	border:1px solid #2055f1;
	/*overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap; */
}
.accordion__title::after {
	font-family: "FontAwesome";
	content: "\f078";
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 900;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	width: 1em;
	height: 1em;
	transition: transform 0.3s ease-in;
	margin:5px 0 0 0;
}
.is-open .accordion__title::after {
 	transform: rotate(180deg);
}


/*.accordion__body {
  border-radius: 5px;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}*/
.accordion__body {
	border-radius: 5px;
	height: 0;
	overflow: hidden;
	transition: height 0.3s ease-in-out;
	position: absolute;
	width: 92.5%;
	left:15px;
	top:50px;
	z-index: 1;
}
.accordion__content {
  background: #f5f5f5;
  border-radius: 4px;
  padding: 15px;
  margin-top: 5px;
}
/*--/accordion pannal section--*/

.accordion .course-title-listing{
	
}
.accordion .course-title-listing li{
	padding:6px 20px;
	position:relative;
	font-size:15px;
}
.accordion .course-title-listing li:after{
	position:absolute;
	content:"";
	border-radius:10px;
	width:7px;
	height:7px;
	background:#000;
	left:0;
	top:13px;
}
/*--/course development pages--*/
/*=====================/Courses=====================*/

/*--blog pages--*/
.blog-sec{
	padding:25px 0 60px;
}
.blog-sec .blog-sec-inr{
	margin:10px 10px 50px 10px;
}
.blog-sec .blog-sec-inr-cont{
	margin-bottom:30px;
	padding:25px 20px;	
	background:rgba(245,245,245,0.75);
	border:1px solid #eee;
}
.blog-sec .blog-sec-inr-cont a.rd-mr{
	background:#000;
	color:#fff;
	padding:6px 20px;
	border-radius:50px;
	font-size:12px;
	text-decoration:none;
	transition:0.5s all;
	font-weight:400;
	overflow:hidden;
}
.blog-sec .blog-sec-inr-cont a.rd-mr:before,
.blog-sec .blog-sec-inr-cont a.rd-mr:hover{
	background:#006df8;
}
.blog-sec .blog-sec-inr-cont h3 {
	font-size: 24px;
	font-weight: 600;
	padding-bottom: 15px;
	color: #ff8a00;
}
.blog-sec .blog-sec-inr-cont p{
	font-size:15px;
	line-height:26px;
	padding-bottom:14px;
	color:#444;	
}
.blog-sec .view-all a{
	display:inline-block;
	color:#fff;
	background:#006df8;
	font-size:14px;
	padding:6px 20px;
	text-decoration:none;	
	border-radius:10px 0 10px 0;
	transition:0.5s all;
}
.blog-sec .view-all a:hover{
	background:#111;
}
.blog-sec .view-all a i{
	padding-left:5px;
}
.blog-sec .blog-sec-inr-cont .article-listing ul{
	padding-bottom:5px;
}
.blog-sec .blog-sec-inr-cont .article-listing ul li{
	display:inline-block;
	padding:0 8px;
	font-size:14px;
	color:#555;
	font-weight:300;
}
.blog-sec .blog-sec-inr-cont .article-listing ul li:last-child{
	padding-right:0;
}
.blog-sec .blog-sec-inr-cont .article-listing ul li i{
	font-size:14px;
	padding-right:8px;
	color:#555;
}
.blog-sec .blog-hd {
	border-bottom:1px solid #000;	
}
.blog-sec .blog-hd h3{
	font-size:18px;
	line-height:24px;
	font-weight:400;
	color:#fff;
	display:inline-block;
	position:relative;
}
.blog-sec .blog-hd h3::after {
	position: absolute;
	content: '';
	right: -30px;
	top: 0;
	clip-path: polygon(0 0, 0% 100%, 100% 100%);
	background: #000;
	width: 30px;
	height: 41px;
}
.blog-sec .blog-hd h3 span{
	display:inline-block;
	background:#000;
	color:#fff;	
	font-size:22px;
	font-weight:400;
	padding:8px 15px;
}
.blog-sec .cyber-sec{
	
}
.blog-sec .cyber-sec .blog-sec-inr{
	position:relative;
}
.blog-sec .cyber-sec .blog-sec-inr .blog-hldr{
	position:absolute;
	width:100%;
	padding:25px 15px 40px;
	bottom:0;
	background:rgba(0,0,0,0.75);
}
.blog-sec .cyber-sec .blog-sec-inr .blog-hldr h3{
	color:#fff;
	font-size:24px;
	line-height:30px;
	padding:0 0 20px 0;
}
.blog-sec .cyber-sec .blog-sec-inr .blog-hldr p{
	color:#fff;
	font-size:14px;
	line-height:20px;
}
.blog-sec .cyber-sec .blog-sec-inr .blog-hldr ul{
	padding:15px 10px 0;
}
.blog-sec .cyber-sec .blog-sec-inr .blog-hldr ul li{
	display:inline-block;	
	color:#fff;	
}
.blog-sec .cyber-sec .blog-sec-inr .blog-hldr ul li i{
	padding-right:6px;
}
.blog-sec .cyber-sec .blog-sec-inr .blog-hldr a{
	color:#000;
	background:#fff;
	padding:5px 15px;	
	font-size:12px;
	line-height:18px;
	font-weight:400;
	text-decoration:none;
	border-radius:100px;
}
.blog-sec .cyber-sec .blog-sec-inr .blog-hldr .d-flex .rd-mr{
	padding:15px 10px 0;
}
.blog-sec .cyber-sec .blog-sec-inr .blog-hldr a:hover{
	background:#ff8a00;
	color:#fff;	
}
.blog-sec .cyber-sec-2 {
	padding:15px;
	margin-bottom:20px;
	border:1px solid #ddd;
}
.blog-sec .cyber-sec-2:nth-child(odd) {
	background:#f8f8f8;
}
.blog-sec .cyber-sec-2:nth-child(even) {
	background:#e7e7e7;
}


.blog-sec .cyber-sec .recent-div{
		
}
.blog-sec .cyber-sec .recent-div-rgt{
		
}
.blog-sec .cyber-sec .recent-div-rgt h3{
	font-size:22px;
	line-height:28px;
	color:#111;	
}
.blog-sec .cyber-sec .recent-div-rgt ul{
	padding:18px 0 12px;
}
.blog-sec .cyber-sec .recent-div-rgt ul li{
	padding:0 10px;	
	display:inline-block;	
	font-weight:300;
}
.blog-sec .cyber-sec .recent-div-rgt ul li i{
	padding-right:5px;	
}
.blog-sec .cyber-sec .recent-div-rgt ul li:first-child{
	padding-left:0;
}
.blog-sec .cyber-sec .recent-div-rgt p {
	color: #555;
	line-height: 24px;
	font-size: 14px;
	padding: 15px 0 5px;
}
.blog-sec .cyber-sec .recent-div-rgt .rd-mr{
	padding:20px 0 15px;	
}
.blog-sec .cyber-sec .recent-div-rgt .rd-mr a{
	text-decoration:none;
	background:#000;
	color:#fff;
	font-size:12px;
	padding:5px 15px;
	border-radius:50px;	
	transition:0.5s all;
}
.blog-sec .cyber-sec .recent-div-rgt .rd-mr a:hover{
	background:#ff8a00;
	color:#fff;
}

/*--owl carasual explore properties section--*/
.blog-sec .cyber-sec .owl-theme .owl-nav {
	margin-top: 10px;
	position: absolute;
	top: 40%;
	width: 100%;
}
.blog-sec .cyber-sec .owl-nav button.owl-next {
	position: absolute;
	right: -4%;
}
.blog-sec .cyber-sec .owl-nav button.owl-prev {
	position: absolute;
	left: -4%;
}
.blog-sec .cyber-sec .owl-nav button.owl-next i,
.blog-sec .cyber-sec .owl-nav button.owl-prev i {
	font-size: 24px;
	line-height:54px;
	color: #fff;
	width:50px;
	height:56px;
	transition:0.5s all;
}
.blog-sec .cyber-sec .owl-nav button.owl-next i{
	background:#006df8 url(../images/right-chevron.png) no-repeat center center;	
}
.blog-sec .cyber-sec .owl-nav button.owl-next i:hover{
	background:#004296 url(../images/right-chevron.png) no-repeat center center;
}
.blog-sec .cyber-sec .owl-nav button.owl-prev i{
	background:#006df8 url(../images/left-chevron.png) no-repeat center center;	
}
.blog-sec .cyber-sec .owl-nav button.owl-prev i:hover {
	background:#004296 url(../images/left-chevron.png) no-repeat center center;
}
.blog-sec .cyber-sec .owl-nav button.owl-prev i::before {
	position: absolute;
	content: '';
	clip-path: polygon(100% 0, 0% 100%, 100% 100%);
	width: 50px;
	height: 32px;
	background: #0057c6;
	top: -31px;
	left: 0;
}
.blog-sec .cyber-sec .owl-nav button.owl-prev i::after {
	position: absolute;
	content: '';
	clip-path: polygon(100% 0, 0 0, 100% 100%);
	width: 50px;
	height: 32px;
	background: #0057c6;
	bottom: -26px;
	left: 0;
}
.blog-sec .cyber-sec .owl-nav button.owl-next i::before {
	position: absolute;
	content: '';
	clip-path: polygon(0 100%, 0 0, 100% 100%);
	width: 50px;
	height: 32px;
	background: #0057c6;
	top: -32px;
	right: 0;
}
.blog-sec .cyber-sec .owl-nav button.owl-next i::after {
	position: absolute;
	content: '';
	clip-path: polygon(0 100%, 0 0, 100% 0);
	width: 50px;
	height: 32px;
	background: #0057c6;
	bottom: -26px;
	right: 0;
}
.blog-sec .cyber-sec .owl-theme .owl-nav [class*=owl-]:hover {
	background: transparent;
	color: #0a95fa;
	text-decoration: none;
}
/*--/owl carasual explore properties section--*/


	/*--blog details page--*/
.blog-mn-section{
		
}
.blog-mn-section .blog-hldr-pg-det{
	margin-bottom:5em;
}
.blog-mn-section .blog-hldr-pg-det .blog-hldr-hd{
	padding:3em 0;	
}
.blog-mn-section .blog-hldr-pg-det .blog-hldr-hd h1{
	font-weight:900;
	font-size:72px;
	line-height:82px;
	color:#0255f1;	
	padding:0 0 20px;
}
.blog-mn-section .blog-hldr-pg-det .blog-hldr-hd p{
	font-weight:600;
	font-size:18px;
	line-height:32px;	
}
.blog-mn-section .blog-hldr-pg-det .blog-wrapper{
	padding:1em;
	margin-bottom:2em;
	background:#f5f5f5;	
}
.blog-mn-section .blog-hldr-pg-det .blog-wrapper .blog-img-div{

}
.blog-mn-section .blog-hldr-pg-det .blog-wrapper .blog-img-div img{
	width:100%;
}
.blog-mn-section .blog-hldr-pg-det .blog-wrapper .blog-img-div .blog-wrapper-listing{
	padding:30px 0 15px;
	text-align:center;
}
.blog-mn-section .blog-hldr-pg-det .blog-wrapper .blog-img-div .blog-wrapper-listing li{ 
	display:inline-block !important;
	padding:0 50px 0 0; 
	font-size:18px;
	line-height:28px;
	color:#444;	
}
.blog-mn-section .blog-hldr-pg-det .blog-wrapper .blog-img-div .blog-wrapper-listing li span{ 
	font-weight:500;
	color:#111;	
}
.blog-mn-section .blog-hldr-pg-det .blog-wrapper .blog-img-div .blog-wrapper-listing li img{ 
	margin-right:15px;
	width:auto;
	height:auto;
}
.blog-mn-section .blog-hldr-pg-det .blog-wrapper .blog-img-div .blog-wrapper-listing li img.client{ 
	width:70px;
	height:70px;
	border-radius:100%;
	margin-right:15px;
}
.blog-mn-section .blog-hldr-pg-det .blog-wrapper h2 {
	font-size: 26px;
	line-height: 32px;
	font-weight: 500;
	padding: 0 30px;
}
.blog-mn-section .blog-hldr-pg-det .blog-wrapper p {
	font-size: 16px;
	line-height: 29px;
	font-weight: 400;
	padding: 15px 30px;
}
.blog-mn-section .blog-hldr-pg-det .blog-wrapper .carousel{
	padding:1.5em 1.5em 3em;
	background:#4444fe;	
	position:relative;	
	margin:2em 0 0;
}
.blog-mn-section .blog-hldr-pg-det .blog-wrapper .carousel:before{
	position: absolute;
    content: "\efce";
    font-family: "IcoFont";
    font-size: 100px;
    left: 0px;
	top:30px;
    font-weight: 400;
	color:#fff;
	opacity:0.15;
}
.blog-mn-section .blog-hldr-pg-det .blog-wrapper #carouselExampleIndicators .carousel-indicators li,
.blog-mn-section .blog-hldr-pg-det .blog-wrapper #carouselExampleIndicators2 .carousel-indicators li{
	display:inline-block !important;	
}
.blog-mn-section .blog-hldr-pg-det .blog-wrapper .testimonial-box{
	
}
.blog-mn-section .blog-hldr-pg-det .blog-wrapper .testimonial-box p{
	padding:1em 2.25em;
	color:#fff;
	font-size:22px;
	line-height:36px;
	font-weight:500;	
}
.blog-mn-section .blog-hldr-pg-det .blog-wrapper .testimonial-box h4{
	color:#ffb23f;
	font-size:24px;
	line-height:32px;
	font-weight:600;
	padding:0 2.25em;	
}
.blog-mn-section .blog-hldr-pg-det .blog-wrapper .carousel a.carousel-control-prev,
.blog-mn-section .blog-hldr-pg-det .blog-wrapper .carousel a.carousel-control-next {
	display:none;
}
.blog-mn-section .blog-hldr-pg-det .blog-wrapper .carousel .carousel-indicators{
	margin-left:0;
	margin-right:2.25em;
	right:0;
	display: flex;
	justify-content: flex-end;	
	bottom:10px;
}
.blog-mn-section #paging{
	margin-bottom:4em;
	margin-top:-1em;
	text-align:center;	
}
	/*--blog details page--*/

/*--/blog pages--*/



/*--latest tool page--*/
.latest-tool-pannal{
	padding:80px 0;	
}
.latest-tool-pannal .search-box{
	background:#eceff5;
	padding:20px 15px;	
	margin:0 0 25px;
}
.latest-tool-pannal .search-box form .input-group{
	
}
.latest-tool-pannal .search-box form .input-group input.form-control{
	min-height:52px;
	border:2px solid #d2d7e1;
	border-right:0 !important;
	border-radius:10px 0 0 10px;
	font-size:16px;
	line-height:22px;
	color:#97a4c2;
	font-weight:300;
}
.latest-tool-pannal .search-box form .input-group input.form-control:focus{
	border-color: rgba(7,29,78,0.3);
	box-shadow: inset 0 1px 1px rgba(7, 29, 78, 0.075), 0 0 8px rgba(7, 29, 78, 0.4);	
}
.latest-tool-pannal .search-box form .input-group .input-group-append .input-group-text {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding: .375rem .75rem;
	margin-bottom: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	text-align: center;
	white-space: nowrap;
	background-color: #ff8a00;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	border-radius:0 10px 10px 0;
}
.latest-tool-pannal .search-box form .input-group .input-group-append .input-group-text:hover{
	background:#0a2155;	
	transition:0.5s all;
}

.latest-tool-pannal .recent-post-div{
	background:#eceff5;
	padding:30px 35px;
	margin:0 0 25px;
}
.latest-tool-pannal .recent-post-div h3{
	font-size:20px;
	line-height:26px;
	color:#0e4da4;
	font-weight:500;
	border-bottom:1px solid #a8adb9;
	padding-bottom:10px;
}
.latest-tool-pannal .recent-post-div .post-listing{
	padding:20px 0;	
}
.latest-tool-pannal .recent-post-div .post-listing li{
	padding:8px 0 8px 20px;
	position:relative;
}
.latest-tool-pannal .recent-post-div .post-listing li:before{
	font-family: FontAwesome;
    content: "\f101";
	position:absolute;
	left:0;
}
.latest-tool-pannal .recent-post-div .post-listing li a{
	color:#111;
	font-size:15px;
	line-height:20px;
	font-weight:500;
}

.latest-tool-pannal .contact-section{
	background:#eceff5;
	padding:30px 35px;
	margin:0 0 25px;
}
.latest-tool-pannal .contact-section h3{
	font-size:20px;
	line-height:26px;
	color:#0e4da4;
	font-weight:500;
	padding:0 0 15px;
}
.latest-tool-pannal .contact-section .form-group input.form-control{
	min-height:52px;
	border:1px solid #abb5c8;	
	border-radius:10px;
}
.latest-tool-pannal .contact-section .form-group textarea{
	border:1px solid #abb5c8;	
	border-radius:10px;	
	resize:none;	
}
.latest-tool-pannal .contact-section .form-group input.form-control::-moz-placeholder,
.latest-tool-pannal .contact-section .form-group textarea::-moz-placeholder{
	font-weight:500;
}
.latest-tool-pannal .contact-section .form-group input.form-control::-webkit-input-placeholder,
.latest-tool-pannal .contact-section .form-group textarea::-webkit-input-placeholder{
	font-weight:500;
}
.latest-tool-pannal .contact-section .but-div{
	position:relative;
}
.latest-tool-pannal .contact-section .but-div button.sub-but{
	background:#ff8a00;
	color:#fff;	
	font-size:20px;
	line-height:26px;
	font-weight:500;
	display:block;
	padding:15px 0;
	border-radius:10px;	
	border:1px solid #abb5c8;
	overflow:hidden;
	width:100%;
}
.latest-tool-pannal .contact-section .but-div button.sub-but:before{
	background: #065bcf;
	border-radius:0;		
}

.latest-tool-pannal .screen-desc-hldr{
	/*margin:0 0 45px;*/
	margin:0 0 0;		
}
.latest-tool-pannal .screen-desc-hldr .desp-info-box{
	padding:30px 0;		
}
.latest-tool-pannal .screen-desc-hldr .desp-info-box:first-child{
	padding-top:0;
}
.latest-tool-pannal .screen-desc-hldr .desp-info-box h2{
	font-size:38px;
	line-height:50px;
	color:#00171f;
	font-weight:700;
	text-transform:uppercase;
	padding:0 0 10px 0;
}
.latest-tool-pannal .screen-desc-hldr .desp-info-box h3,
.latest-tool-pannal .screen-desc-hldr .desp-info-box-simi-hd h3{
	font-size:28px;
	line-height:38px;
	color:#00171f;
	font-weight:700;
	text-transform:uppercase;
	padding:0 0 10px 0;
}
.latest-tool-pannal .screen-desc-hldr .desp-info-box h5{
	font-size:22px;
	line-height:28px;
	color:#0e4da4;
	font-weight:500;
	padding:0 0 15px 0;
}
.latest-tool-pannal .screen-desc-hldr .desp-info-box h5 span{
	background:#0e4da4;
	color:#fff;
	font-size:18px;
	line-height:28px;
	font-weight:400;
	padding:5px 15px;
	display:block;
	width:100%;
}
.latest-tool-pannal .screen-desc-hldr .desp-info-box p{
	font-size:16px;
	line-height:26px;
	color:#00171f;
	font-weight:500;
	padding:0 0 10px 0;
}
.latest-tool-pannal .screen-desc-hldr .desp-info-box p a{
	color:#0e4da4;
}
.latest-tool-pannal .screen-desc-hldr ul.screen-listing{
	border-top:1px solid #acb2bd;	
	border-bottom:1px solid #acb2bd;
	padding:10px 0;	
}
.latest-tool-pannal .screen-desc-hldr ul.screen-listing li{
	display:inline-block;
	padding-right:50px;
	font-weight:500;
}
.latest-tool-pannal .screen-desc-hldr ul.screen-listing li img{
	padding-right:10px;
}

.latest-tool-pannal .pagination {
	
}
.latest-tool-pannal .pagination .page-item{
	
}
.latest-tool-pannal .pagination .page-item .page-link {
	position: relative;
	display: block;
	width:48px;
	height:48px;
	text-align:center;
	margin-left: -1px;
	background: none;
	border: 0;
	box-shadow: 1px 4px 3px 1px rgba(0,0,0,.2);
	border-radius: 100%;
	margin: 0 10px;
	font-size:18px;
	line-height:32px;
	font-weight:500;
	color:#000;
}
.latest-tool-pannal .pagination .page-item .page-link:hover{
	background:#3f51b5;
	color:#fff;
}
.latest-tool-pannal .pagination .page-item.active .page-link {
	background:#3f51b5;
	color:#fff;
}
.latest-tool-pannal .pagination .page-item:first-child .page-link,
.latest-tool-pannal .pagination .page-item:last-child .page-link {
	background:#ff5722;
	color:#fff;
	font-size: 34px;
	line-height: 27px;
}
.latest-tool-pannal .pagination .page-item:first-child .page-link:hover,
.latest-tool-pannal .pagination .page-item:last-child .page-link:hover {
	background:#000;
}

	/*--dynamic pagination css 31.08.2021--*/
#paging {

}
#paging a {
	margin: 0 10px;
	text-decoration: none;
	padding:11px 17px;
	text-align: center;
	border-radius: 100%;
	border:1px solid transparent;
	box-shadow: 1px 4px 3px 1px rgba(0,0,0,.2);
	color: #000;
}
#paging a:nth-child(3){
	padding:11px 19px;
}
#paging a.aktif {
	background: #065bcf;
	color: #fff;
}
#paging a:hover {
	background: #065bcf;
	border:1px solid #999;
	color: #fff;
}
.add-gap{
	padding:3px 16px !important;
	font-size: 28px; 
	position:relative !important;
	top:4px !important;
}
.hidden {
  display: none;
}
	/*--/dynamic pagination css 31.08.2021--*/
/*--/latest tool page--*/


/*--workshop page--*/
.workshop-hldr{
		
}
.workshop-hldr .workshop-hldr-hd{
	
}
.workshop-hldr .workshop-hldr-hd .workshop-txt-div{

}
.workshop-hldr .workshop-hldr-hd .workshop-txt-div h3{
	width:45%;
	padding:20px 0 15px;
}
.workshop-bd-hldr .workshop-bd-hldr-inr {
	text-align: center;
	padding: 4em 0 3.5em;
}
.workshop-bd-hldr .workshop-bd-hldr-inr h2{
	font-size:32px;
	line-height:40px;
	color:#4d5674;
	font-weight:500;
	padding:0 0 10px 0;
}
.workshop-bd-hldr .workshop-bd-hldr-inr h4{
	font-size:17px;
	line-height:24px;
	color:#273041;
	font-weight:400;
	padding:5px 0;
}
.workshop-bd-hldr .workshop-bd-hldr-inr p{
	font-size:16px;
	line-height:26px;
	color:#273041;
	font-weight:400;
	padding:0 25px;	
}
.workshop-bd-hldr .workshop-bd-hldr-inr .topic-hldr{
	background:#e1eafb;
	padding:25px;
	margin:15px 0 25px;
	border-radius:10px;
}
.workshop-bd-hldr .workshop-bd-hldr-inr .topic-hldr .select-box{
		
}
.workshop-bd-hldr .workshop-bd-hldr-inr .topic-hldr .select-box .form-group{
	margin-bottom:0;
}
.workshop-bd-hldr .workshop-bd-hldr-inr .topic-hldr .select-box .form-group select.form-control{
	min-height:48px;
	border-radius:10px;
	box-shadow: inset 0 1px 5px rgba(0,0,0,.15);
	appearance:none;
	background:#fff url(../images/down-arrow2.png) no-repeat 97% 50%;
	cursor:pointer;
	font-size:16px;
	line-height:24px;
	font-weight:400;
	color:#717993;
}
.workshop-bd-hldr .workshop-bd-hldr-inr .topic-hldr .recent-text{
		
}
.workshop-bd-hldr .workshop-bd-hldr-inr .topic-hldr .recent-text p{
	font-size: 17px;
	line-height: 24px;
	color: #273041;
	font-weight: 400;
	padding:0;
}
.workshop-bd-hldr .workshop-bd-hldr-inr .topic-hldr .recent-text p span{
	font-weight:600;		
}
.workshop-bd-hldr #listPage{
	
}
.workshop-bd-hldr #listPage li{
	width:48.5%;
	float:left;
}
.workshop-bd-hldr #listPage li:nth-child(2n+1) {
	margin-right: 3%;
}
.workshop-bd-hldr #listPage li .video-box{
	padding:0 0 50px;
}
.workshop-bd-hldr #listPage li .video-box h3{
	color:#313947;
	font-size:20px;
	line-height:28px;
	font-weight:400;
	padding:10px 0;
}
.workshop-bd-hldr #paging{
	width:100%;
	text-align:center;	
}
/*--/workshop page--*/


/*--bug bounty program page css start 06.09.2021--*/
.course-dev-pan .course-dev-pan-inr{
	padding:25px 0 30px;	
}
.course-dev-pan .course-dev-pan-inr h4{
	color:#2055f1;
	font-size: 24px;
	line-height: 32px;	
}
.course-dev-pan .course-dev-pan-inr .accordion-hldr{
		
}
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(6) .nano-expansion-toggle{
	display:flex;
	justify-content: flex-start;	
}
.accordion-hldr .nano-expansion-wrapper .nano-expansion:nth-child(6) .nano-expansion-toggle ins {
	width: 15%;
}
/*--/bug bounty program page css end 06.09.2021--*/



/*-- campus representative program page css start 17.09.2021 --*/
.cam-res-prog{
	
}
.cam-res-prog h1{
	position:relative;	
	padding-left:50px !important;
}
.cam-res-prog h1:before{
	position:absolute;
	content: "\eadd";
	font-family: "IcoFont";
	font-size:36px;
	left:0;
	font-weight:400 !important;
}
.cam-res-prog .cam-res-rgt{
	
}
.cam-res-prog .cam-res-rgt .cot-txt-div{
	padding:20px 0;
}
.cam-res-prog .cam-res-rgt .cot-txt-div big{
	font-size:20px;
	line-height:30px;
	font-weight:600;
	color:#bc2627;
}
.cam-resp-listing{
	
}
.cam-resp-listing ul{
	padding:10px 0 0 0;
}
.cam-resp-listing ul li{
	position:relative;
	padding:10px 0 10px 30px;
	font-size:15px;
	line-height:24px;
	font-weight:300;
}
.cam-resp-listing ul li:before{
	position:absolute;
	font-family: FontAwesome;	
	content:'\f140';	
	left:0;	
	font-size:15px;
	font-weight:300;
	color: #2055f1;
}
/*-- /campus representative program page css end 17.09.2021 --*/



/*--contact us page--*/
.contact-sec{
	padding:70px 0 80px;	
}
.contact-sec .contact-hd{
	text-align:center;	
	padding:0 0 60px;
}
.contact-sec .contact-hd h2{
	font-size:32px;
	line-height:38px;
	font-weight:500;
	color:#ff6c00;
	padding:0 0 10px;	
}
.contact-sec .contact-hd h2 span{
	color:#2a1870;
	font-size:38px;
	line-height:48px;
	font-weight:600;
}
.contact-sec .contact-hd span{
	font-size:17px;
	line-height:22px;
	font-weight:400;
	color:#444;	
}
.contact-sec .contact-left-area{
	background:#010823;
	padding:45px 30px;	
}
.contact-sec .contact-left-area h3{
	color:#fff;	
	text-transform:uppercase;
	font-weight:600;
	font-size:24px;
	line-height:20px;
	padding:0 0 20px;
	margin:0 0 25px;
	position:relative;
}
.contact-sec .contact-left-area h3:before{
	position:absolute;
	content:'';
	width:50px;
	height:4px;
	background:#fff;
	display:inline-block;
	bottom:0;
	left:0;
}
.contact-sec .contact-left-area h5{
	color:#ff6c00;	
	font-weight:400;
	font-size:18px;
	line-height:22px;
	text-transform:uppercase;
}
.contact-sec .contact-left-area h5 img{
	margin-right:10px;
	width:18px;
	height:18px;
}
.contact-sec .contact-left-area .con-div{
	padding:15px 0;	
}
.contact-sec .contact-left-area .con-div p{
	color:#fff;	
	font-size:15px;
	line-height:24px;
	padding:15px 0 20px;
	font-weight:300;
}
.contact-sec .contact-left-area .con-div p a{
	color:#fff;	
}
.contact-sec .contact-form{
	background:rgba(42,24,112,0.05);
	padding:40px 30px 30px 30px;	
}
.contact-sec .contact-form h3{
	color:#2a1870;
	text-transform:uppercase;
	font-weight:700;
	font-size:26px;
	line-height:32px;
	padding:0 0 10px;
	margin:0 0 25px;
	position:relative;
}
.contact-sec .contact-form h3:before{
	position:absolute;
	content:'';
	width:50px;
	height:4px;
	background:#2a1870;
	display:inline-block;
	bottom:0;
	left:0;
}
.contact-sec .contact-form .form-group input{
	min-height:46px;
	border-radius:0;	
	font-size:15px;
	line-height:22px;
	font-weight:300;
	color:#555;
}
.contact-sec .contact-form .form-group textarea{
	font-size:15px;
	line-height:22px;
	font-weight:300;
	color:#555;	
}
.contact-sec .contact-form .form-group input:focus,
.contact-sec .contact-form .form-group textarea:focus{
	border-color: rgba(42,24,112,.75);
	box-shadow: 0 0 0 .2rem rgba(42,24,112,.25);	
}
.contact-sec .contact-form .form-group textarea{
	border-radius:0;
	resize:none;
}
.contact-sec .contact-form .but-div{
	padding:15px 0;
}
.contact-sec .contact-form .but-div .sub-but{
	background:#ff8a00;
	color:#fff;	
	text-transform:uppercase;
	font-size:17px;
	line-height:24px;
	font-weight:400;
	padding:15px 30px;
	overflow:hidden;
}
.contact-sec .contact-form .but-div .sub-but:before{
	background:#2a1870;
	border-radius:0;
}
/*--/contact us page--*/

/*---------------/main css---------------*/



/*--footer start here--*/
/*--chat icon css--*/
.ft-top{
	background:#010823;
	padding:80px 0;	
	position:relative;
}
/*.ft-top .chat-icon{
	position:absolute;
	top:30%;
	left:35px;	
	background:#639506;
	width:56px;
	height:56px;
	border-radius:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}
.ft-top .chat-icon img{
	width:32px;
	height:32px;
}*/
/*--/chat icon css--*/


.ft-top .ft-list-hldr{
		
}
.ft-top .ft-list-hldr h3{
	font-size:20px;
	line-height:30px;
	color:#2372de;
	font-weight:600;
	padding:0 0 20px;
}
.ft-top .ft-link-listing{
	
}
.ft-top .ft-link-listing li{
	padding:7px 0;
	display:block;
}

.ft-top .ft-link-listing li a{
	font-size:16px;
	line-height:24px;
	color:#fff;
	text-transform:capitalize;
	text-decoration:none;
	transition:0.5s all;
	position:relative;
	padding-left:20px;
	display:inline-block;
	font-weight:500;
}
.ft-top .ft-link-listing li a:before{
	position:absolute;
	content:"\f105";
	color:#fff;
	left:0;
	font-family: FontAwesome;
}
.ft-top .ft-link-listing li a:hover:before{
	color:#2372de;
}
.ft-top .ft-link-listing li a:hover{
	color:#2372de;
	padding-left:15px;
}

	/*--footer dropdown custom css 17.08.2021--*/
footer .ft-link-listing .dropdown {
  position: relative;
  display:block;
}

footer .ft-link-listing .dropdown-content {
	display: none;
	position: absolute;
	left:15px;
	top:35px;
	background:#004bd7;
	min-width: 150px;
	height:auto;
	z-index: 1;
}
footer .ft-link-listing .dropdown-content a {
	text-decoration: none;
	display: block;
	padding:4px;
	width:100%;
	font-size:12px !important;
	line-height: 21px;
	font-weight:500;
	padding-left:10px !important;
}
footer .ft-link-listing .dropdown-content a:before{
	display:none;	
}
footer .ft-link-listing .dropdown-content a:hover {
	background: #fff;  
	padding:4px; 
	display:block; 
	color:#010823 !important;
}
footer .ft-link-listing .dropdown:hover .dropdown-content{
	display: block;
}
	/*--/footer dropdown custom css 17.08.2021--*/


.ft-top .newslatter-div{
	padding-left:40px;
}
.ft-top .newslatter-div form .form-group input{
	background:#fff;
	min-height:50px;
	border-radius:15px;
	color:#888;
}
.ft-top .newslatter-div form .form-group input:hover{
	color:#888 !important;
}
.ft-top .newslatter-div form .form-group input.form-control-cus::-moz-placeholder,
.ft-top .newslatter-div form .form-group input.form-control-cus::-webkit-input-placeholder{
	color:rgba(0,23,31,0.5) !important;	
	font-size:16px;
	font-weight:400;
}
.ft-top .newslatter-div .subs-but{
	padding:14px 0;
	width:100%;
	color:#fff;
	font-size:16px;
	line-height:24px;
	font-weight:500;
	background:#065bcf;
	display:block;	
	border-radius:50px;
	overflow:hidden;
	letter-spacing:.5px;
}

.ft-bot{
	padding:20px 0;	
	background:#065bcf;
}
.ft-bot .copyright-pan-lft{
		
}
.ft-bot .copyright-pan-lft p {
	color: #fff;
	font-size: 17px;
	line-height: 28px;
	font-weight: 300;
}
.ft-bot .copyright-pan-lft p a{
	color:#fff;
	text-decoration:none;
}
.ft-bot .copyright-pan-lft p a:hover{
	color:#000;	
}
.ft-bot .copyright-pan-rgt{
		
}
.ft-bot .copyright-pan-rgt .social-listing{
		
}
.ft-bot .copyright-pan-rgt .social-listing li{
	padding:0 1px;
	display:inline-flex;	
}
.ft-bot .copyright-pan-rgt .social-listing li a{
	width:38px;
	height:38px;
	border:1px solid #fff;
	border-radius:5px;
	text-align:center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ft-bot .copyright-pan-rgt .social-listing li a.fb{
	background:#3b5998;
}
.ft-bot .copyright-pan-rgt .social-listing li a.in{
	background:#0077b5;
}
.ft-bot .copyright-pan-rgt .social-listing li a.youtube{
	background:#cd201f;
}
.ft-bot .copyright-pan-rgt .social-listing li a.whatsup{
	background:#25d366;
}
.ft-bot .copyright-pan-rgt .social-listing li a.instagram{
	background:#262626;
}
.ft-bot .copyright-pan-rgt .social-listing li a.twitter{
	background:#1da1f2;
}
/*--/footer end here--*/



.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
} 
	


/*-------Pagination CSS start-------*/
#page_navigation {
  clear:both;
  margin: 20px 0;
}
#page_navigation a{
	padding:3px 6px;
	border:1px solid #2e6da4;
	margin:2px;
	color:black;
	text-decoration:none
}
.active_page{
	background:#337ab7;
	color:white !important;
}
/*-------/Pagination CSS end-------*/


#modal-box{
		
}
#modal-box #exampleModal,
#modal-box #exampleModal1,
#modal-box #exampleModal2,
#modal-box #exampleModal3,
#modal-box #exampleModal4,
#modal-box #exampleModal5{
	background:rgba(0,0,0,.5);
}
#modal-box .modal-dialog .modal-content{
	padding:35px 35px;	
	border-radius:25px;	
}
#modal-box .modal-body{
	padding:0 0 15px;	
}
#modal-box .modal-body h5{
	font-size:24px;
	line-height:32px;
	font-weight:500;
	color:#2372de;
}
#modal-box .modal-body h2{
	font-size:40px;
	line-height:52px;
	text-transform:uppercase;
	font-weight:700;
	padding:0 0 20px;
}
#modal-box .modal-body p{
	font-size:16px;
	line-height:28px;
	font-weight:500;
	color:#000;
}
#modal-box .modal-body h2 span{
	color:#ff6c00;
}
#modal-box .modal-body .close {
	opacity: 0.9;
	position: relative;
	top: -24px;
	right: -24px;
}
#modal-box .modal-body .close:hover span {
	background:url(../images/cross.png) no-repeat;
	background-position: 0px 3px;
}
#modal-box .modal-content form .form-group{
		
}
#modal-box .modal-content form .form-group input{
	min-height:52px;
	border-radius:10px;
	font-weight:400;
	font-size:14px;
	border:1px solid #888;
}
#modal-box .modal-content form .form-group select{
	min-height:52px;
	border-radius:10px;
	font-size:14px;
	border:1px solid #888;
	appearance: none;
	background:url(../images/down-arrow.png) no-repeat 97% center;
	font-weight:400;
}
#modal-box .modal-content form .form-group select:focus{
	box-shadow:0 0 0 .2rem rgba(0,0,0,.15);
	border-color:#000;
}
#modal-box .modal-content form .form-group select:focus{
	
}
#modal-box .modal-content form .form-group textarea{
	border-radius:10px;
	font-weight:400;
	font-size:14px;
	resize:none;
	border:1px solid #888;
}
#modal-box .modal-content form .form-group input::-moz-placeholder,
#modal-box .modal-content form .form-group input::-webkit-input-placeholder,
#modal-box .modal-content form .form-group textarea::-moz-placeholder,
#modal-box .modal-content form .form-group textarea::-webkit-input-placeholder{
	color:#777 !important;	
	font-weight:400 !important;
}
#modal-box .modal-content form .form-group input:focus{
	box-shadow:0 0 0 .2rem rgba(0,0,0,.09);
	border-color:#000;
}
#modal-box .modal-content form .submit-but button{ 
	text-transform:uppercase;
	background:#065bcf;
	width:100%;
	color:#fff;
	padding:17px 0;
	border-radius:10px;
	font-size:20px;
	font-weight:500;
	overflow:hidden;
}

/*==============To top css==============*/
#back-top {
	position: fixed;
	bottom: 20px;
	right:25px;
	z-index:99;
}
#back-top a {
	width: 48px;
	height:48px;
	display:block;
	background:url(../images/top.png) no-repeat left;
}
#back-top a:hover {
	background:url(../images/top2.png) no-repeat left;
}
/*==============To top css end==============*/

/*--css3 zoom in effect--*/
.image-box{
	overflow:hidden;
	cursor:pointer;
	border:5px solid #202c45;
}
.image-box:hover .image {
	-webkit-transform:scale(1.2);
	transform:scale(1.2);
}
.image{
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
}
.image-zoom{
	-moz-transition: all 0.7s ease;
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
	cursor:pointer;
}
.image-zoom:hover{
	-moz-transform:scale(1.1);
	-webkit-transform:scale(1.1);
	transform:scale(1.1);	
}
/*--/css3 zoom in effect end--*/


/*--css3 circle hover effect--*/
.circle {
   width: auto;
   -webkit-transition: -webkit-transform .8s ease-in-out;
   transition: transform .8s ease-in-out;
   cursor:pointer;
}
.circle:hover {
   -webkit-transform: rotate(360deg);
   transform: rotate(360deg);
}
/*--/css3 circle hover effect--*/


/*--placeholder default colour change--*/
::-webkit-input-placeholder{
	color:#999 !important;
	font-weight:300;
	font-size:14px;
}
::-moz-placeholder{
	color:#999 !important;
	font-weight:300;
	font-size:14px;
}
::-ms-input-placeholder{
	color:#999 !important;
	font-weight:300;
	font-size:14px;
}
/*--/placeholder default colour change--*/


/*--input type number hide in HTML5 chrome and firefox browser--*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
input[type=number] {
    -moz-appearance:textfield;
}
/*--/input type number hide in HTML5 chrome and firefox browser--*/
